[2016-02-09 21:25] vackosar opened #1 "Fetch using ssh key identification."

[2016-02-09 21:28] vackosar opened #2 "Refactor to use Google Guice."

[2016-02-09 21:40] #2 closed

[2016-02-13 19:05] #1 closed

[2016-04-17 20:43] vackosar opened #3 "Enable in Maven using property."

[2016-04-17 20:50] vackosar opened #4 "Read properties into maven extension as well."

[2016-04-18 21:37] #3 closed

[2016-04-23 18:43] #4 closed

[2016-05-01 13:37] vackosar opened #5 "Prevent nullpointer when reference branch is checked out."

[2016-05-01 13:37] vackosar opened #6 "Allow also-build dependencies."

[2016-05-01 16:27] #6 closed

[2016-05-01 17:31] #5 closed

[2016-05-28 16:04] vackosar opened #7 "Allow skipping dependencies tests"

[2016-05-28 16:08] #7 closed

[2016-08-15 20:19] vackosar opened #8 "Impossible to disable using POM"

[2016-08-15 20:25] #8 closed

[2016-11-01 01:30] seanf opened #9 "gitflow-incremental-builder incompatible with git worktree"
When running a Maven build with this extension against a [linked working tree](https://git-scm.com/docs/git-worktree), I get this error :

    java.lang.IllegalArgumentException: Git branch of name 'HEAD' not found.
        at com.vackosar.gitflowincrementalbuild.control.DifferentFiles.getBranchHead(DifferentFiles.java:113)
        at com.vackosar.gitflowincrementalbuild.control.DifferentFiles.get

[2016-11-05 10:17] vackosar commented on #9
Am looking into this.

[2016-11-05 13:42] vackosar commented on #9
New version gitflow-incremental-builder: 2.5 supporting worktrees using a workaround will be available in Central within few hours. Can you please retest with that one?

[2016-11-07 03:08] seanf commented on #9
Thanks @vackosar, but it seems to be checking the wrong directory for changed files.

* My original working directory is /home/sflaniga/NotBackedUp/src/zanata-platform/.
* My .git directory is /home/sflaniga/NotBackedUp/src/zanata-platform/.git/.
* My worktree (and current directory) is /home/sflaniga/NotBackedUp/src/zanata-gitflow-incremental/

Log:

    [INFO] gitflow-incremental-builder startin

[2016-11-07 05:19] vackosar commented on #9
Sorry. Will fix this.

[2016-11-08 18:49] vackosar opened #10 "Support for test-jar dependencies"
<dependency>
      <groupId>groupId</groupId>
      <artifactId>artifactId</artifactId>
      <type>test-jar</type>
      <version>version</version>
      <scope>test</scope>
    </dependency>

[2016-11-13 07:59] vackosar commented on #9
Cannot reproduce the problem. Can you share contents of these files?:
/home/sflaniga/NotBackedUp/src/zanata-gitflow-incremental/.git
/home/sflaniga/NotBackedUp/src/zanata-platform/.git/worktrees/zanata-gitflow-incremental/gitdir
/home/sflaniga/NotBackedUp/src/zanata-platform/.git/worktrees/zanata-gitflow-incremental/commondir

[2016-11-13 16:18] #10 closed

[2016-11-14 01:18] seanf commented on #9
@vackosar Here they are:
[code]

[2016-11-20 21:22] vackosar commented on #9
Wasn't able to simulate your issue with strange directory name. Seems like some odd glitch, but checking jgit functinality it wasn't able to accept properly my configuration of different working directory and git repo locations. It was always looking at the main working directory. Had to disable it on execution in a working tree as you suggested. Can you retest?

[2016-11-21 07:29] seanf commented on #9
Thanks @vackosar, yes, it's skipping the incremental execution now, if I use a worktree. I hope jgit gets worktree support soon!

[2016-11-21 14:23] #9 closed

[2016-12-28 11:49] vackosar opened #11 "Fix issues with test-jar building"
Still gettin some issues when buildin test-jar projects. Now some projects don't see jars of already build projects. Probably caused by previous test-jar commits.

[2016-12-28 12:37] #11 closed

[2016-12-28 12:39] vackosar opened #12 "Fails on -am and -amd together"

[2016-12-30 08:43] #12 closed

[2016-12-30 10:20] vackosar opened #13 "Make tests run green on Travis CI"

[2017-01-30 15:40] flefevre opened #14 "gitflow-incremental-builder and tycho OSGI"
Dear gitflow-incremental-builder committer/designer,
thanks at forst for all job done here!
this is a great plugin.

I am trying to setup your plugin in Papyrus an open source project at Eclipse.org.
It seems that the actual version of the plugin is not able to detect the OSGI tycho dependencies.
If I modify an eclipse-plugin defined with a tycho/maven pom, it trigger only the incremental build fo

[2017-01-31 07:04] vackosar commented on #14
Since it is OSS can you give me link to the pom?
Can you share gitflow-incremental-builder part of maven logs? (GIB logs which projects were changed and which will be built.)

[2017-02-03 15:26] Bralic commented on #14
Hi Vackosar,
I'm relaying Francois on this topic as he is currently indisposed: here is the links to the poms I wanted to test with your tool [1] and [2].
What I did was modified a test plugin's pom (just added a dummy description) and run a clean install with the repo's root pom [1]. your tool worked perfectly in detecting which plugin was impacted but we do also have tests ran as suites that inc

[2017-02-03 15:28] Bralic commented on #14
here is the command I used to do my tests (in case it provides something usefull ^^):
mvn clean install -f ./releng/pom.xml -Dtycho.localArtifacts=ignore -Dgib.enabled=true

[2017-02-03 15:49] Bralic commented on #14
Oh and if it is OSS here is what OS I am running your tool with:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

And here is the gib logs (I believe the begining is what you are after, corerct me if you want more):
bralic@bralic-VirtualBox:~/Papyrus-Build$ mvn clean install -f ./releng/pom.xml -Dgib.enabled=true -Dtycho.localArtifacts=ignore
Warning: JAVA_HO

[2017-02-03 15:51] Bralic commented on #14
and the reactor summary:
[INFO] Reactor Summary:
[INFO]
[INFO] org.eclipse.papyrus.junit.framework ................ SUCCESS [  3.678 s]
[INFO] org.eclipse.papyrus.views.modelexplorer.tests ...... SUCCESS [  1.703 s]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[IN

[2017-02-06 19:27] vackosar commented on #14
If you made change to http://git.eclipse.org/c/papyrus/org.eclipse.papyrus.git/tree/releng/main-tests/pom.xml then all submodules should have been rebuild. It is a very strange if only two were build as mentioned above.

[2017-02-06 19:28] vackosar commented on #14
I suspect that problem may be caused by modules not being in subdirectories of parent poms.

[2017-02-06 19:28] vackosar commented on #14
I am having problem reproducing the problems, since the project is huge and fails to checkout on Win 10. Win still cannot checkout files with too long path. Got damn Windows!

[2017-02-06 19:50] vackosar commented on #14
I cannot reproduce your problem. But I see that the child poms not being in sub dir is a problem. After modifying mentioned file:

2017-02-06_20-44-54 >git diff
diff --git a/releng/main-tests/pom.xml b/releng/main-tests/pom.xml
index 4cf3e98..90750b3 100644
--- a/releng/main-tests/pom.xml
+++ b/releng/main-tests/pom.xml
@@ -186,4 +186,6 @@
                        </activation>
                </pr

[2017-02-06 19:52] vackosar commented on #14
Can you type exact commnadline commands that lead exactly to your problem? For example:

2017-02-06_20-31-11 >echo >> releng/main-tests/pom.xml

2017-02-06_20-31-11 >git diff
diff --git a/releng/main-tests/pom.xml b/releng/main-tests/pom.xml
index 4cf3e98..7833160 100644
--- a/releng/main-tests/pom.xml
+++ b/releng/main-tests/pom.xml
@@ -187,3 +187,4 @@
                </profile>
        </profile

[2017-02-07 12:45] Bralic commented on #14
Actually, before merging the change on the root pom it did indeed register as modified and therefore triggered a complete build.
It was after the merge and the modification of the two plugins in the trace that I had the problems/questions mentioned above.

[2017-02-10 06:53] pivovarit opened #15 "Default behaviour when Git context not present?"
I've been using GIB and it works really smoothly but it becomes painful when you need to run in different envs. In some, I do have a Git context to work with and in some not.

I think that it should not ruin the build if no git context is present and simply default to building everything. What do you think? At least having this as an option would be useful

[2017-04-19 15:43] bogdartysh opened #16 "gerrit support"
Hi,
when using with [gerrit](https://www.gerritcodereview.com/) project
I got
`mvn install`

My configs:
`$ git branch
* (HEAD detached from FETCH_HEAD)
  Motegi-Production
  master
  review/bogdan_artyushenko/2342345
  review/bogdan_artyushenko/2342333
...
`
in pom.xml added gitflow-incremental-builder as described on https://github.com/vackosar/gitflow-incremental-builder

[2017-04-19 18:53] vackosar commented on #16
Gerrit also runs builds?
Sorry I am not clear on that product. Can you provide more details?

[2017-04-19 18:54] vackosar opened #17 "Filter changed files using regex"

[2017-07-28 07:44] #16 closed

[2017-07-28 07:50] #13 closed

[2017-07-28 08:17] tvelykyy commented on #17
Would be nice to get more info on this issue.

[2017-07-28 09:00] vackosar commented on #15
Implemented.

[2017-07-28 09:00] #15 closed

[2017-07-28 09:00] vackosar commented on #17
Implemented

[2017-07-28 09:00] #17 closed

[2017-07-28 10:19] pivovarit commented on #15
@vackosar great! Looks like it works locally, although on Travis it still results in:

I see that you are using Travis here too. Have you encountered the same problem? Looks like Travis might be ignoring Maven properties but debugging in is super slow and painful.

[2017-07-28 11:36] vackosar commented on #15
Do you use version 3.3? Can you give me link to your full log and project?

[2017-07-28 11:37] vackosar commented on #15
Have you set failOnMissingGitDir to false?

[2017-07-28 11:39] vackosar commented on #15
Is it possible that the plugin found some Git repository further up the stream? Can you show at least beginning of your log? It should show that the plugin found git repo somewhere.

[2017-07-28 11:42] pivovarit commented on #15
@vackosar Yes, version 3.3. is clearly defined and set what is necessary: https://github.com/eugenp/tutorials/pull/2323/files

Meanwhile, I will try to enable full logging on Travis.

[2017-07-28 11:46] pivovarit commented on #15
The case is quite funny because Travis is triggering two builds (one because of PR and one because of the Push) and one of them contains the Git context and everything is fine:

[2017-07-28 12:10] pivovarit commented on #15
The log from a failed build. Looks interesting:

[2017-07-28 12:50] vackosar commented on #15
Maybe Travis deletes local master branch after build. Try to rather use remote: "refs/remotes/origin/master"

[2017-07-28 13:52] pivovarit commented on #15
[INFO] Git dir is: /home/travis/build/eugenp/tutorials/.git
[INFO] Reference commit of branch HEAD is commit of id: commit aba1f169033284e40259c44ac07b3e30162a4fc3 1501248969 -----p
[ERROR] Exception during gitflow-incremental-builder execution occured. Git branch of name 'refs/remotes/origin/master' not found. -> [Help 1]

Not much better. Shouldn't GIB simply ignore the fact branch is not there

[2017-07-28 15:12] vackosar commented on #15
Use failOnError false in Travis.

[2017-07-30 10:24] vackosar opened #19 "Migrate from extension to plugin pom setup"
Migrate from:
[code]

to:

[code]

While retaining ability to override props from command line.

See https://maven.apache.org/guides/mini/guide-using-extensions.html

[2017-07-30 10:25] vackosar commented on #19
@tvelykyy would you interested in this one?

[2017-08-01 08:23] tvelykyy commented on #19
@vackosar definitely, but I need some time.

[2018-01-12 19:34] yaroslav-nikolaiko opened #20 "'Changed file outside build project' on mount device"
If given file path is not the same as realpath, we are failing to identify this file as part of maven project.
_console$ pwd
/var/lib/jenkins/workspace/my_project
console$ realpath .
/mnt/data1/jenkins/workspace/my_project_

I suppose this is because in Module class you're using toRealPath()
`private static Path getPath(MavenProject project) {
        try {
            return project.getBasedir().

[2018-01-14 18:43] vackosar commented on #20
Sounds plausible. I am not sure when I will be able to fix this. If you need the fix faster please submit a pull request.

[2018-02-06 14:44] maxcapraro opened #21 "Document Differences to Forks in README.md"
Hi there,

Your plugin is exactly what I (and potentially others) need. Other people have forked it and driven development in their own directions. Forks I found:

- lesfurets/partial-build-plugin
- ozangunalp/gitflow-incremental-builder
- vackosar/gitflow-incremental-builder (this project)

Which brings me to my question: Does this (original) project do anything different (worse, better) than the

[2018-02-07 07:30] vackosar commented on #21
Cheers, I wont have time to collect the difference. Would have a look into this?
It is safe to use as I know a big project using it.

[2018-02-07 12:57] maxcapraro commented on #21
I had hoped that by chance you already have some insights about it :) But sure, if I find differences while working with the plugins, I will happily report back.

[2018-02-07 12:57] maxcapraro commented on #21
Thanks for the clarification!

[2018-03-13 14:36] maxcapraro opened #22 "Add License"
Hi @vackosar,

I could not identify any license. Thus, I cannot legally use or redistribute your code. Could you please provide a license file and add it to the repo? E.g. the MIT license? That would be great!

Thanks a lot!

[2018-03-13 19:15] vackosar commented on #22
By default projects on Github without licence are MIT (see conditions). I will look into including it though.

[2018-03-13 19:18] vackosar commented on #22
mit licence added.

[2018-03-13 19:18] #22 closed

[2018-03-13 19:18] #21 closed

[2018-03-15 19:29] ladaas opened #23 "Provide more documentation of properties"
It would be useful if the README provided a bit more information about the what each of the properties do. For example: What is the difference between gib.enabled and gib.buildAll? What does gib.compareToMergeBase do?

[2018-05-25 13:54] famod opened #25 "Causes massive delay for larger projects with many modules when root pom.xml is modified (or similar)"
In a larger project with almost 90 modules, this extensions needs more than one minute(!) to calculate the reactor after having detected that the root module/artifact has changed (e.g. due to a modified pom.xml):
[code]
The project modules are organized in a rather deep hierarchy and have numerous inter-dependencies.
Unfortunately I am not allowed to share this closed source project.

Judging from

[2018-06-23 16:46] famod commented on #25
PR #26 fixes this issue!

[2018-06-23 16:52] famod opened #27 "Support checking for untracked files"
Adding a new file to an existing module/project (without adding it to git index) can have a significant impact on the build outcome but currently this extension does not consider this case.

I propose the introduction of the new property `gib.untracked` with default value `true`, just like the already existing property `gib.uncommited`.

[2018-06-23 17:08] famod opened #28 "Support skipping branch comparison (to just check for uncommitted/untracked)"
When developing locally I often want to build the modules that have been changed since the last commit in the same branch. Those changes are mostly uncommitted and/or untracked.

For that I currently have to set `-Dgib.referenceBranch=HEAD -Dgib.compareToMergeBase=false` to basically make the branch comparison return no changes.

It would be more logically and more efficient if there was a possibi

[2018-06-23 17:41] vackosar commented on #25
@famod excellent job. Thanks for giving back to community

[2018-06-23 17:41] #25 closed

[2018-06-24 06:36] vackosar commented on #28
what about rather having a specific switch for this? It would be more clear than configuring a magic value to the reference branch field

[2018-06-24 06:37] vackosar commented on #23
Sounds good. Ideally I would like to get this dynamically generated from java doc or annotations

[2018-06-24 11:37] famod commented on #19
Are you guys sure about this? I am just guessing here but I don't think a plugin can do the same things an extension can, even with `extensions` enabled.
See also: https://stackoverflow.com/a/43298372

[2018-06-24 11:50] famod opened #30 "Upgrade JGit"
I can't say I've actually had problems with pretty outdated version 4.5.0 of JGit (yet), but given the amount of bugfixes since 4.5.0 an upgrade to at least 4.11 seems like a good idea.
One example bugfix: [JGit detects wrong merge-base](https://bugs.eclipse.org/bugs/show_bug.cgi?id=507584)

[2018-06-24 11:51] vackosar commented on #19
I think it is possible. I definitely saw an extension which had been configured such that it didnt use properties but rather in-place configuration like a plugin. That is much more readable as u dont have to jump around.

[2018-06-24 12:14] #27 closed

[2018-06-24 12:22] famod opened #32 "Upgrade Guice from 4.0 to 4.2"
Guice 4.2 bringt various improvements over 4.0 including statup performance speedups.

[2018-06-24 12:30] famod opened #33 "Introduce additional Travis job with Maven 3.5"
To ensure compatibility not only with Maven 3.3.9, there should be another Travis job that runs with Maven 3.5 (latest is 3.5.4).

[2018-06-24 12:32] famod commented on #33
Current `master` is running locally with Maven 3.5.4 without problems. But as soon as Guice is upgraded to 4.2.0 (iusse #32), various tests fail with Maven 3.5.4 but not with 3.3.9.

[2018-06-24 12:43] famod commented on #33
Turns out the failures with 3.5.4 after upgrading to Guice 4.2.0 were caused by a faulty download of guava.

Having a second job with Maven 3.5 is still valid, though.

[2018-06-24 12:51] #32 closed

[2018-06-24 16:12] famod opened #36 "DifferentFilesTest is flaky"
Sometimes `DifferentFilesTest.getInstance(Path)` seems to hit `MavenSessionMock.PomFinder.visitFileFailed(Path, IOException)` which until [this change](https://github.com/vackosar/gitflow-incremental-builder/pull/35/commits/13cde6545fa505e51ec82df9fc60c395cc275c0d#diff-257880d75016c07345c0277207e297e8) just returned `null` which is not allowed and triggers an NPE in `java.nio.file.Files.walkFileTr

[2018-06-24 16:22] famod commented on #23
@vackosar let's continue [the discussion](https://github.com/vackosar/gitflow-incremental-builder/pull/29#issuecomment-399750298) from PR #29 here:

I don't see how one can access the JavaDoc at runtime and adding the documentation as a new member of `Property` seems quite awkward/unusual.
How about just linking the `Property` class from `README.md`? I mean everyone can see the source code anyway.

[2018-06-24 16:27] famod commented on #19
Yeah sure, property/config documentation would be much nicer but can a plugin alter the projects to build?
I have a gut feeling that this is not possible. I believe at the point of executing a plugin, the chosen implementation of `org.apache.maven.lifecycle.internal.builder.Builder` has already decided which projects to build.

[2018-06-24 16:31] famod commented on #28
@vackosar Yes, I think introducing a new property is the right way to do it.

[2018-06-24 16:38] vackosar commented on #23
I prefer having generated documentation as it is then harder to have it outdated and also it can be reused for other cases.

JavaDoc may be complicated to use, but e.g. adding a new field "description" into the Property constructor would work. It could then be reused for generation of error messages in case someone insert invalid value.
By the way Property should probably be part of entity package

[2018-06-24 16:38] vackosar commented on #23
But it is up to u. I will approve either way.

[2018-06-24 16:45] #36 closed

[2018-06-24 16:47] famod commented on #36
I hope the flakiness is resolved by the referenced commit. If not then we can just reopen this issue.

[2018-06-24 19:23] famod opened #39 "Release version 3.5"
With all the recent additions and fixes a new release is justified. Please release 3.5 after merging PR #38.

[2018-06-24 19:29] #28 closed

[2018-06-24 19:29] vackosar commented on #23
No worries, thanks for all the great stuff u did from me and all the users!

[2018-06-24 19:31] vackosar commented on #39
will try to do this tomorrow or sometime next week. I should also ask for u to be added to the OSSRH repo in future.

[2018-06-25 05:06] vackosar commented on #39
I am having issues testing locally, but since the Travis builds ok, I will release anway
[code]

[2018-06-25 05:23] #39 closed, assigned to nobody

[2018-06-25 07:55] famod commented on #39
Awesome, thanks!
Please let me know in case you need with those local test failures.

[2018-06-25 07:57] famod opened #40 "Introduce additional Travis jobs to cover all relevant Maven versions"
The current Travis job runs with Maven 3.5.2, `pom.xml` defines `maven-core` version 3.3.9.
The should be a second job running with Maven 3.3.9.

[2018-06-25 07:57] famod commented on #33
Closed in favor of #40.

[2018-06-25 07:57] #33 closed

[2018-07-02 14:08] vackosar commented on #19
@famod this is the project I meant. It is a dead fork of this project: https://github.com/lesfurets/partial-build-plugin

[2018-07-06 10:41] famod opened #41 "Introduce addArgsForNotImpactedModules to further reduce overhead (e.g. skip Checkstyle and Enforcer)"
I really like the idea of `skipTestsForNotImpactedModules` and I have just started using it in a Jenkins pull request pipeline job (alongside `-am`).
In the respective project we have some more "expensive" operation we'd like to skip for "not impacted" modules like:
- skipping checkstyle plugin
- skipping enforcer plugin (see also https://issues.apache.org/jira/browse/MENFORCER-271)

My idea is to

[2018-07-06 10:42] famod commented on #41
@vackosar WDYT?

[2018-07-06 15:22] vackosar commented on #41
@famod yep skipping tests is the most important feature also from my perspective.
You idea sounds very interesting. I am just thinking how the value should be provided and if we need to provide property evaluation. Also if there is any risk of some sort of code injection impacting security.

[2018-07-08 18:40] famod commented on #41
PR #42 created.

[2018-07-08 19:30] famod opened #43 "DifferentFilesTest: [WARNING] close() called when useCnt is already zero for Repository[...]"
Output of `DifferentFilesTest` on a Windows 10 machine:
[code]
This should be cleaned up.

[2018-07-08 19:57] famod opened #44 "When using -am more modules are built than the user might expect"
Given a project with four modules A, B, C and D:
- B and C depend on A
- D depends on B *and* C
- B contains changed/added files
- A, C and D are unchanged
- `-am` is used

then this extension behaves differently than what one might expect:

- the extension reduces the project list to B and D
- B because it contains changes
- D because it depends on B
- Maven applies `-am` to the project list: B *

[2018-07-09 05:49] vackosar commented on #44
To name this feature we should probably focus on what the user will have in mind when he will be looking for this feature. To do that we probably should try to list the use cases.

I think I made it such that it builds C because C may not exist in the maven repo local or remote or may exist but could be outdated. So the use case is to rebuild everything needed freshly.

Above use case would sugges

[2018-07-09 09:51] famod commented on #41
PR merged.

[2018-07-09 09:51] #41 closed

[2018-07-15 15:44] famod opened #45 "Introduce gib.forceBuildModules to selectively build modules even if unchanged"
One might want to build certain modules even if they are *not* changed and/or do not depend on changed modules.
This might be a rare case but in my case I have a "test setup module" which I have to rebuild in a Jenkins Pipeline depending on whether I want to run basic tests or integration tests (two different pipeline stages). The selection of which tests to run (and JVm memory sizing etc.) is per

[2018-07-15 17:04] famod commented on #45
PR #46 created.

[2018-07-18 21:04] famod commented on #45
Merged.

[2018-07-18 21:04] #45 closed

[2018-07-18 21:36] famod commented on #44
Hm, as this is only relevant when using `-am`, the name of the feature/property should be related.

Something like `alsoMakeMode=[changed|all]` or `=[min|full]` or ...

Implementation-wise I see two different approaches for the changed/min/whatever mode:
1. Either pass only the directly changed modules to `ProjectDependencyGraph.getUpstreamProjects(...)`
2. Or only set the directly changed modules

[2018-07-19 21:05] famod opened #47 "Release 3.6"
The two new features should justify a new release:
https://github.com/vackosar/gitflow-incremental-builder/milestone/1

@vackosar, WDYT? Can you please create a release? Thanks!

[2018-07-31 19:12] vackosar commented on #47
released

[2018-09-04 21:04] famod commented on #47
Thanks, using this successfully every day - especially in our Jenkins build pipelines.

[2018-09-04 21:04] #47 closed

[2018-09-04 21:06] famod opened #48 "argsForNotImpactedModules default value documentation is wrong"
In `README.md` it says:
[code]
which is a copy and paste mistake (by myself). Should say instead:
[code]

[2018-09-05 06:13] vackosar commented on #48
What do you mean? If false is to be default value then is should be shown, no?

[2018-09-05 07:58] famod commented on #48
That's the thing: The default value is empty, not false.

[2018-10-04 09:07] deradam opened #49 "NullPointerException with multi module maven build inside IntelliJ"
I have issues using the GIB plugin (version 3.6) with a multi module maven project with IntelliJ when this module contains changed files outside the build project.

The build fails with an NPE (from idea.log):

[code]

[2018-10-04 10:31] famod commented on #49
Exception occurs [here](https://github.com/vackosar/gitflow-incremental-builder/blob/master/src/main/java/com/vackosar/gitflowincrementalbuild/boundary/UnchangedProjectsRemover.java#L120):
```mavenSession.getProjectDependencyGraph().getDownstreamProjects(project, true).stream()```

I'd say it's highy improbable that `mavenSession` is `null` and `org.apache.maven.execution.ProjectDependencyGraph.ge

[2018-10-04 12:44] deradam commented on #49
@famod thanks for the quick reply.

Btw. Apache Maven 3.5.4
IntelliJ IDEA 2018.3 EAP (Ultimate Edition) - Build #IU-183.2940.10, built on September 25, 2018

The full logs looks like this:

2018-10-04 14:27:18,634 [ 677300]   INFO -      #org.jetbrains.idea.maven - [INFO] gitflow-incremental-builder starting...
2018-10-04 14:27:18,639 [ 677305]   INFO -      #org.jetbrains.idea.maven - [INFO] Git

[2018-10-04 15:18] famod commented on #49
Seeing that IntelliJ IDEA 2018.3 is still in early access and that much has changed on the Maven side in that release (see [here](https://confluence.jetbrains.com/display/IDEADEV/IntelliJ+IDEA+2018.3+EAP+183.2153.8+Release+Notes)):
Can you try 2018.2.4?

[2018-10-04 15:58] deradam commented on #49
Yep, switched back to

and still the same.

[2018-10-04 16:01] deradam commented on #49
Btw. I also tried the embedded maven version (3.3.9) as well as 3.5.4 installed via brew. Same behavior.

[2018-10-04 16:30] famod commented on #49
Well, I had a quick look at the IntelliJ class handling the Maven stuff which calls `GIB`:
https://github.com/JetBrains/intellij-community/blob/master/plugins/maven/maven3-server-impl/src/org/jetbrains/idea/maven/server/Maven3ServerEmbedderImpl.java#L805
[code]

First observation: That `loadExtensions` method states that it has been adapted from `DefaultMaven.doExecute(MavenExecutionRequest)`. Wel

[2018-10-04 16:33] famod commented on #49
What we _could_ do in `GIB` is to explicitly check the graph precence and in case it is missing we could log a warning a exit gracefully.
@vackosar WDYT?

[2018-10-04 16:42] famod opened #50 "MavenInstallRunningIntegrationTest should be running in phase "integration-test", not in in "test""
Long(er) running integration tests should normally be separated from much quicker unit tests.
I therefore suggest moving `MavenInstallRunningIntegrationTest` from phase `test` (executed by `maven-surefire-plugin`) to phase `integration-test` (executed by `maven-failsafe-plugin`).

[2018-10-04 16:42] famod commented on #50
@vackosar In case you agree I'd like to do that in release 3.7.

[2018-10-04 16:43] famod commented on #43
I'll try to fix this in 3.7.

[2018-10-04 16:45] famod commented on #20
@vackosar It seems to me that we could just remove `.toRealPath()` and we are done. Or am I missing something?

PS: Implementing a test for this seems to be the much harder part, though...

[2018-10-04 17:12] famod opened #51 "Add ability to filter out "impacted modules" by packaging type"
I had a discussion with my fellow developers on how `GIB` could be be even more supportive than it already is in our large enterprise project (containing ~90 modules).
We realized that it would be very handy to just skip all _not directly_ changed `jar` modules and just build the ones that have been changed directly and the dependent "deployable" modules that contain the directly changed modules.

[2018-10-04 17:12] famod commented on #51
@vackosar WDYT?

[2018-10-04 19:17] deradam commented on #49
Thanks for the deep investigation @famod. I think I can live with -Dgib.enabled=false in the IntelliJ importer settings

<img width="465" alt="grafik" src="https://user-images.githubusercontent.com/1195893/46497398-ba979000-c81a-11e8-827b-8310e1eefccb.png">

We only need to use this on the CI server to avoid building the whole source tree on merge requests. So thanks for your awesome work!

[2018-10-04 19:17] #49 closed

[2018-10-04 21:05] famod opened #52 "Just log a warning and exit if ProjectDependencyGraph is missing"
See [comment](https://github.com/vackosar/gitflow-incremental-builder/issues/49#issuecomment-427085590) in issue #49

We should also document briefly that `GIB` should be _disabled_ in IDEs.

[2018-10-07 15:32] vackosar commented on #51
1.  Would it actually be able to build valid WARs without parent JARs packaged?
2. The naming could include "transitive dependent" and I would try to avoid misinterpretation that we are excluding packaging to jar. So maybe something "excludeNonTransitivePackagedAs".

[2018-10-15 21:12] #48 closed

[2018-10-15 21:17] famod opened #55 "Update dependencies for release 3.7"
As of October 15, 2018:
[code]

[2018-10-16 17:38] famod opened #57 "DifferentFilesTest & ChangedProjectsTest fail @Travis: "JGit unsupported separate worktree checkout detected""
E.g. https://travis-ci.org/vackosar/gitflow-incremental-builder/builds/441900622?utm_source=github_status&utm_medium=notification

[code]
Everything is fine locally.

[2018-10-16 17:41] famod commented on #52
This one needs another PR for the documentation bit:

[2018-10-17 22:17] famod commented on #57
Fixed via PR #59

[2018-10-17 22:17] #57 closed

[2018-10-24 18:04] #52 closed

[2018-10-24 18:04] #50 closed

[2018-10-31 18:32] famod opened #64 "DifferentFilesTest: Sporadic "WARNING: Failed to visit /tmp/junit[...]/tmp/repo/.git/gc.log.lock.[...] java.nio.file.NoSuchFileException: [...]"
[code]
Seen in:
- https://travis-ci.org/vackosar/gitflow-incremental-builder/builds/445834311
- https://travis-ci.org/vackosar/gitflow-incremental-builder/builds/448996413

I guess we should disable auto-GC, see: https://github.com/eclipse/jgit/blob/master/org.eclipse.jgit/src/org/eclipse/jgit/internal/storage/file/GC.java#L1482

[2018-10-31 22:15] famod opened #66 "Support wildcards in forceBuildModules"
Would come in handy if one could say:
`-Dgib.forceBuildModules=*-modA,*-modB`
instead of:
`-Dgib.forceBuildModules=foo-bar-modA,foo-bar-modB`

A regular expression would be even more flexible but this doesn't seem to get along with the comma separated nature of this property...

[2018-11-04 13:15] famod commented on #55
Since we have not yet released 3.7 we should perform another update of Guice and JGit:
[code]

[2018-11-04 15:08] famod opened #69 "Release 3.7"
Given [all the changes since 3.6](https://github.com/vackosar/gitflow-incremental-builder/milestone/3), I suggest to roll another relase.

**Before** this release all my open PRs should be reviewed/merged:
- #65
- #67
- #68

I also suggest to start documenting our releases here: https://github.com/vackosar/gitflow-incremental-builder/releases

@vackosar WDYT?

[2018-11-04 15:14] famod opened #70 "Move to JUnit 5"
We are still on JUnit 4.12 & Mockito 1.10.19 (as per #68).

Both "lines" have reached EOL, so we should upgrade sooner or later.

Resources:
- https://www.baeldung.com/mockito-junit-5-extension

[2018-11-04 15:16] famod commented on #40
Maven 3.6.0 has been released a couple of days ago. There should be a job with this method as well.

So maybe we should have 3 (?): 3.3.9, 3.5.4, 3.6.0?

[2018-11-04 21:09] #43 closed

[2018-11-04 21:10] #55 closed

[2018-11-04 21:10] #64 closed

[2018-11-04 21:11] famod commented on #66
This property now supports regular expressions (multiple patterns/strings separated by comma).

[2018-11-04 21:11] #66 closed

[2018-11-11 19:13] famod opened #71 "Leverage Maven-provided JSR330 dependency injection instead of custom Guice setup"
Maven already provides a simple dependency injection mechanism for plugins and extensions: https://maven.apache.org/maven-jsr330.html

It would reduce the bootup overhead/footprint and configuration noise if we would switch from our own bundled Guice setup to the Maven-provided mechanism (which is actually also powered by Guice).

[2018-11-11 19:16] famod commented on #71
I am already quite far with this. I am going to create a PR soon which we can use to discuss/see the impact, @vackosar.

[2018-11-11 19:28] famod opened #72 "Print version of GIB"
Small improvement. There is already a `TODO` in `MavenLifecycleParticipant`:
[code]

AFAICS, the DRY approach would be to just read `MANIFEST.MF` (that is generated anyway) via `java.util.jar.Manifest`.
The only small downside to this is that we can only test this via an integration test which can operate on the jar that is created _after_ phase `test`.
There is an alternative to that, but it seem

[2018-11-13 19:48] vackosar commented on #69
@famod I tagged the released code and apparently it auto created a release comment on that page. I could have  described the release more in the commit message.

[2018-11-13 19:48] #69 closed

[2018-11-13 20:01] vackosar commented on #71
I was attempting something like that but I had many problems with it - mainly property injection. I resolved some of the problems and described the solution here in a post:
http://vaclavkosar.com/2018/01/24/Modern-Config-Injection-In-Maven-Plugins.html

[2018-11-13 20:07] vackosar commented on #72
Maybe you could try Resource Filtering which happens I think earlier and project versions would be accessed via [project.version] or something like that
https://maven.apache.org/plugins/maven-resources-plugin/examples/filter.html

[2018-11-13 20:57] famod commented on #69
Thanks for releasing!

We could simply link the closed tickets of the respective milestone, e.g.: https://github.com/vackosar/gitflow-incremental-builder/issues?q=is%3Aissue+milestone%3Arelease-3.7+is%3Aclosed

[2018-11-13 20:59] famod commented on #72
Yeah, sure - but that would require another custom file.

[2018-11-13 22:18] famod opened #74 "Reconsider logging setup, especially for tests"
PR #73 already moved `StaticLoggerBinder` to `src/test/java` but I think there is more which can and should be done to clean up and enhance the logging setup:

As JGit is using SLF4J and Maven is already [providing a SLF4J integration](http://maven.apache.org/maven-logging.html), we could switch from Plexus loggers to SLF4J loggers and remove `StaticLoggerBinder` in favour of [logback-classic](htt

[2018-11-21 22:16] #71 closed

[2018-11-22 19:46] #72 closed

[2018-12-12 19:44] vackosar opened #76 "Check out the Codacy!"
@famod, Codacy is tool for code quality analysis and is free for OS projects. GIB dashboard is here:
https://app.codacy.com/project/vackosar/gitflow-incremental-builder/dashboard
Check it out!
Do you think it is useful?

[2018-12-14 16:04] famod commented on #76
Cool, I like it! Any chance to add test coverage?

[2018-12-15 12:34] vackosar commented on #76
Yes, it seem possible to configure it.
We would do it via Travis:
https://github.com/codacy/codacy-coverage-reporter#travis-ci

[2018-12-15 12:36] vackosar commented on #76
By the way do you also have admin access to Codacy project if you login via Github? I don't quite see it in the Codacy UI anywhere.

[2018-12-21 22:43] famod commented on #76
I don't see a "settings" item in the menu. I do see this item when I add/import my forked repo of GIB to Codacy.

[2018-12-23 08:18] vackosar commented on #76
I attempted to configure Travis coverage, but it doesn't seem to work even though all the build steps succeed.

[2019-01-13 22:52] famod opened #77 "Untracked or uncommitted changes are not tested against excludePathRegex"
It is simply not evaluated in `DifferentFiles$Worker.getChangesFromStatus` (as opposed to `.getDiff`).

[2019-01-13 22:54] famod commented on #76
I do have admin access now, thanks! I did not have a look at the test coverage, yet.

[2019-01-16 21:07] #77 closed

[2019-01-16 21:40] famod commented on #76
@vackosar Can you have a look at the [`CODACY_PROJECT_TOKEN` problem](https://github.com/vackosar/gitflow-incremental-builder/pull/78#issuecomment-454946092)?

[2019-01-19 16:30] famod opened #81 "Update dependencies and plugins for release 3.8"
I think it is almost about time for a release 3.8 and so this is a good time to update dependencies and plugins.

As of January 19, 2019:

### Dependencies
[code]
All the logging libs are tied to `maven-core` (see PR #80) and are therefore not upgradeable.
Same applies to the mocking libs which are tied to `junit`.
This leaves us with jGit `5.1.3.201810200350-r -> 5.2.1.201812262042-r`.

### Plugi

[2019-01-19 17:09] famod opened #82 "Readme: "Requirements: Maven version 3+" is most likely incorrect"
I doubt GIB 3.7 is really able to run properly with Maven 3.0.  It _might_ work, but I have never tested GIB below Maven 3.3.9 and the Travis jobs are running with 3.5.2 (see also #40).
I do irregularly test GIB locally with 3.3.9 and 3.5.4, but my default is Maven 3.6.0.

Furthermore, the `pom.xml` defines `maven-core` 3.3.9.
And now with #80 and #73 in the upcoming GIB release 3.8, there is a _t

[2019-01-20 09:44] vackosar commented on #82
I wish we had more users reporting bugs and more user engagement in general. There may be a way to make this project more popular. Perhaps answering questions on the topic on Stack Overflow and linking the project or similar. Maybe the project could be even submitted to a conference about open source projects in the area.

[2019-01-20 14:00] #74 closed

[2019-01-20 16:53] famod opened #85 "Release 3.8"
Given [all the changes since 3.7](https://github.com/vackosar/gitflow-incremental-builder/milestone/4?closed=1), I suggest to roll another relase.

**Before** this release, all my still open PRs should be reviewed/merged:
- #83
- #84
- Update: upcoming PR for issue #44

Please also document this release here: https://github.com/vackosar/gitflow-incremental-builder/releases
The new release should l

[2019-01-20 16:58] famod commented on #76
Apart form the previously ,emtioned coverage problem, Codacy as a strange Markdown rule that I stumbled upon when fixing some of the reported issues in #84:
![[list-item-indent] Incorrect list-item indent: add 2 spaces](https://user-images.githubusercontent.com/22860528/51442420-b36a9400-1cdc-11e9-8716-9b9f677b6b65.png)
Do you get this, @vackosar? It seems Codacy it treating this as a sub-list whi

[2019-01-20 18:47] vackosar commented on #82
Maybe we could also find other OSS projects that may benefit from this tool and propose it to them. If I'll notice some candidate project, I will try to inform them about this one.

[2019-01-20 19:43] ambition-consulting commented on #44
Not urgent, but definitely desirable.

[2019-01-21 19:43] #82 closed

[2019-01-21 19:45] vackosar commented on #76
I would take Codacy too seriously. It has only sometimes good points.

[2019-01-21 21:19] famod commented on #76
Yeah, I was about to just disable the rule/check before I found the setting. I agree that we shouldn't follow Codacy blindly, but so far I found it useful.

[2019-01-21 22:56] famod commented on #76
So the last "bigger" task left to address here is coverage for pull request builds:

[Fails in PR build](https://travis-ci.org/vackosar/gitflow-incremental-builder/builds/482640912#L3061):

[code]

[Succeeds in master build](https://travis-ci.org/vackosar/gitflow-incremental-builder/jobs/482642673#L4034):

[code]

It seems the token environment variable has to be added to the PR job(s). Can you do

[2019-01-21 23:02] famod commented on #44
As noone is forcing us to push release 3.8 out today or tomorrow, I am going to have a look at this more in detail so that we can hopefully include this in 3.8.

[2019-01-21 23:05] famod commented on #85
**Update**`: I'd like to extend 3.8 with a fix for #44. I probably won't come up with a PR before next sunday, though.

[2019-01-22 11:37] famod commented on #14
@Bralic & @flefevre Is this issue still relevant for you? Have you tried a more recent version of GIB (e.g. 3.7)?

[2019-01-25 22:48] famod opened #87 "JGit-based tests are not isolated from system and user config"
After some hours debugging a strange SSL handshake error in `DifferentFilesTest` on my company laptop  but _not_ on my private pc, I found out that JGit is automatically using `.gitconfig` in my user home.
On my company laptop I have (among other settings):
[code]
which kills the test because it is asuming a different transport.

There are a couple of environment variables that can be used to ensu

[2019-01-26 13:02] vackosar commented on #82
@famod Hi I mailed to Apache Spark mailing list suggesting to use GIB. I think they would benefit from it and also it would give GIB very good exposure.

[2019-01-27 18:32] #87 closed

[2019-02-17 17:29] famod commented on #85
@vackosar I just merged #89 - please release 3.8! Thanks.

[2019-02-18 11:38] famod commented on #44
Starting with Release 3.8, `gib.buildUpstreamMode=changed` will have the desired effect.

See: https://github.com/vackosar/gitflow-incremental-builder#gibbuildupstreammode

[2019-02-18 11:38] #44 closed

[2019-03-05 17:25] ambition-consulting commented on #44
Hi there,

thanks for the change. I have encountered a problem.

Assume the following maven dependency chain:
A -> B -> C

B gets changed.

'mvn clean install -pl C -am"

The ideal behaviour would be:

- gib realising what is changed - works
- maven build starting from the changed module - does not work
- Instead, I can see the logs of "[INFO] gitflow-incremental-builder exiting..." before the rea

[2019-03-05 18:35] famod commented on #44
@ambition-consulting Thanks for your feedback!

Can you please open another issue? IMHO, although related, this issue and the one you just reported are not entirely the same thing.

[2019-03-06 15:39] ambition-consulting commented on #44
understood, will do

[2019-03-06 15:48] ambition-consulting opened #90 "partial builds"
This feature request is probably related to #44

Assume the following maven dependency chain:
A -> B -> C ->D

Now B gets changed.

'mvn clean install -pl C -am"

The ideal behaviour would be:
B -> C

- gib realising what is changed - works
- maven build starting from the changed module - does not work
- maven build ending at the specified (-pl) module - works

Thus, at the moment what gets build

[2019-03-08 23:23] famod commented on #85
Thanks for releasing, @vackosar! I created a tag: https://github.com/vackosar/gitflow-incremental-builder/releases/tag/version%2F3.8

[2019-03-08 23:23] #85 closed

[2019-03-10 17:20] famod commented on #90
This is an interesting feature request which would actually imply a new kind of "upstream filter".
`gib.buildUpstreamMode` has a different "scope", so to say.

Right now by saying "-pl C -am", GIB detects B as changed, applies "-am" which then brings in A.

After 10 minutes thinking about it, I still don't really know which is the right approach to this problem. It would certainly turn a few thing

[2019-03-10 20:32] ambition-consulting commented on #90
Sure, take your time. Like I said, we have so many modules, it wouldn't really make sense finding out about the dependency chain and excluding them manually.

[2019-03-28 14:31] ambition-consulting opened #91 "Congrats, you broke my IDE :-) :: IntelliJ IDEA is incompatible with GIB 3.8+"
This comes from my IntelliJ logs using gib@3.8-SNAPSHOT, and effectively stops the IDE from resolving the dependencies correctly. I have no clue what is going on exactly, maybe you guys know?

[code]

[2019-03-28 14:36] ambition-consulting commented on #91
Just double-checked - also happens with 3.8 and 3.7. I am running Idea 2019.1 on JDK8 in a JDK8 project with maven 3.6.

I can't give up on my IDE, so I will have to remove gib for now. :-(

[2019-03-28 14:38] ambition-consulting commented on #91
Considering there is some network handling going on: I am running Idea behind Fiddler proxy, that is using fake SSL certificates to sniff around.

[2019-03-28 14:51] ambition-consulting commented on #91
This happens also with <gib.enabled>false</gib.enabled>

[2019-03-28 14:52] ambition-consulting commented on #91
I have only checked for Idea 2019.1, but I believe I had this problem with 2018.3 already.

[2019-03-28 20:51] famod commented on #91
Hm, back in October @deradam reported an issue in IntelliJ with GIB 3.6 and back then `<gib.enabled>false</gib.enabled>` "fixed" that problem: #49

It's hard to tell which IntelliJ version he was using when [confirming the fix](https://github.com/vackosar/gitflow-incremental-builder/issues/49#issuecomment-427137959).
Could be 2018.2.4 or 2018.3 EAP.

Anyway, are you sure this also happens with GIB

[2019-03-28 21:14] famod commented on #91
I am almost 100% certain that this: https://github.com/apache/maven/blob/maven-3.6.0/maven-core/src/main/java/org/apache/maven/DefaultMaven.java#L177
or something equivalent is **not** happening _anywhere_ in https://github.com/JetBrains/intellij-community/blob/master/plugins/maven/maven3-server-impl/src/org/jetbrains/idea/maven/server/Maven3ServerEmbedderImpl.java

[2019-03-28 22:55] famod commented on #91
I found a matching ItelliJ bug ticket and left a comment: https://youtrack.jetbrains.com/issue/IDEA-200272#focus=streamItem-27-3368820.0-0

Working around this problem in GIB means to revert a good part of #71, which I am not so keen on doing. But I might reconsider that later...

@ambition-consulting can you please re-check with GIB 3.7? Thanks!

[2019-04-02 15:26] ambition-consulting commented on #91
Ok, I retested by simply pressing the Maven re-import button in Idea:

With 3.7 I get this:
[code]

With 3.8 I get this instead:
[code]

So you seem to be right and my previous observation on 3.8 causing this error also was wrong. Maybe I was using an old 3.8-SNAPSHOT.

[2019-04-03 11:00] famod commented on #91
@ambition-consulting Thanks for the update.

No no, you were/are right about 3.8. I just couldn't understand why 3.7 should be causing the same error for you.
So: 3.8 _is_ affected, 3.7 _not_ affected.

Btw, a colleague of mine has already submitted a PR for the IntelliJ plugin: https://youtrack.jetbrains.com/issue/IDEA-200272#focus=streamItem-27-3380507.0-0

[2019-04-08 21:15] famod opened #92 "excludePathRegex is tested against absoulte path instead of just the repo path"
Given a repo path:
[code]
and the following files within that repo:
[code]
then `-DexcludePathRegex=tmp` will exclude _both_ files although most users (including me) would expect only `tmp/some-file.txt` to be excluded.

I cannot think of a sensible scenario where one would want to match against the path portion that is outside the repo context. I mean, in this very example,  `-DexcludePathRegex=t

[2019-04-15 15:13] famod commented on #91
Good news: https://github.com/JetBrains/intellij-community/pull/1110 has been merged.
I don't know when to expect the next release (containing the fix), though.

Btw, thanks @Katrin111!

[2019-04-16 21:13] kmos commented on #91
Hi, I have the same issue with:

- intellij  IDEA 2019.1
- jdk 8, 11
- maven 3.5.4, 3.6.1, 3.3.9

Anyway, apart from #71, I think that this issue could be avoided if GIB was a maven plugin #19 (using profiles).

[2019-04-16 21:18] kmos commented on #19
Any news on it? It could be cool to have a plugin maven instead of an extension. I don't know if it's feasible, especially for:

In any case, it would be easier to manage it with profiles.

[2019-04-16 21:56] famod commented on #91
@kmos Thanks for your feedback!

Yeah, that would work.

Anyway, as there are frequent updates of IntelliJ IDEA, it surely won't be long until the fix is released.
Until then, please downgrade to 3.7.

[2019-04-17 06:11] kmos commented on #91
No pressure! With 3.7 all works

[2019-05-01 12:53] #92 closed

[2019-06-07 12:19] humulus commented on #91
3.8 works with IntelliJ 2019.2 EAP (Early Access Program)

[2019-06-19 17:27] jacobsinisi opened #94 "Deleted Files Not Seen as Diff"
If a file is deleted between two branches, the affected module will not be rebuilt.
Steps to reproduce:

1. Create new file foo.txt in branch A. Do not commit.
2. Branch off of branch A by creating branch B.
3. Commit foo.txt to branch B.
4. Checkout branch A.
5. Cherry pick to receive changes from branch B so you have foo.txt in both branch A and branch B, but foo.txt is only committed in branch

[2019-06-26 11:16] Paul-00910 commented on #91
Encountered [the same issue](https://stackoverflow.com/questions/56749071/idea-import-of-maven-github-projects-not-working-running-cannot-resolve-symb) when trying to run some baeldung github example code (...)

[2019-07-04 16:02] famod commented on #94
Thanks for this report.

Does step 6 include a commit? If _not_, this is a "uncommitted" case, not a "branch diff" case.

[2019-07-04 20:50] famod commented on #94
I have troubles reproducing this issue. Can you please write down every single (git) command, step by step, please?
Thanks!

[2019-07-08 15:47] jacobsinisi commented on #94
The step by step process is:
1. add new file
2. do a full build
3. git checkout -b "branch_B"
4. git add -A && git commit -m \"All local changes before build."
5. git checkout <original branch from step 1>
6. git cherry-pick <sha of commit in step 4> //this gets changes that were committed to foreign branch to local again
7. delete new file from step 1
8. run gib

Step 8 results in no modules bein

[2019-08-04 20:56] famod commented on #94
Hm, strange: In my setup, step 8 _does_ detect the uncommitted deletion and therefore the respective module _is_ being built.

I have two modules, `A` and `B` (and a root "module") and I placed the new file in `A`.

What's your project layout, @jacobsinisi?

Btw: I realized that GIB does detect a difference between `branch_A` and `branch_B` right after the cherry-pick which differs from the result

[2019-09-08 20:51] famod commented on #40
Done! We now have 9 jobs covering the most relevant combinations of JDK and Maven versions.
E.g.: https://travis-ci.org/vackosar/gitflow-incremental-builder/builds/582419739

[2019-09-08 20:51] #40 closed

[2019-09-08 20:54] famod commented on #76
Note: I disabled the coverage reporting attempt for PRs and it is only active for the first of our now 9 jobs. See [this line](https://github.com/vackosar/gitflow-incremental-builder/commit/d18a3a9129147c08f113b068fceb93ff49ea05e4#diff-354f30a63fb0907d4ad57269548329e3R100).

[2019-09-08 20:56] famod commented on #91
Has anyone tried with the now officially released 2019.2(.2)?

[2019-09-08 21:11] famod commented on #94
\*ping\* @jacobsinisi

[2019-10-02 07:20] shabanali-faghani commented on #91
@famod I've the same/similar problem with the 2019.2 release.
[code]
I get this error with maven-3.2.2:
[code]
and this one with maven 3.6.2:
[code]

[2019-10-03 21:47] famod commented on #91
@shabanali-faghani This is another problem, see: https://stackoverflow.com/a/57850225
IntelliJ IDEA 2019.2.*3* seems to have fixed it.

[2019-10-06 16:27] famod commented on #90
@ambition-consulting

Are you sure about that? If C is _not_ changed (additionally to B being changed), then C should not be built (as of GIB 3.8).
So right now I would expect GIB to build `A-> B ` and not `A-> B -> C`.

Having GIB build C regardless of whether it was changed or not would require `Dgib.forceBuildModules=C`.

Since this a bit "verbose", I could change GIB so that it will _always_ b

[2019-11-12 21:22] famod commented on #91
Can anyone confirm that GIB 3.8 (with `gib.enabled` set to `false`) and IDEA 2019.2.3+ are playing along nicely now?

PS: [IDEA-200272](https://youtrack.jetbrains.com/issue/IDEA-200272) was reopened but the latest comments only mention `takari-builder` trying to install some `SecurityManager` which does not apply to GIB.

[2019-11-12 21:27] famod commented on #94
@jacobsinisi can please report back? Otherwise I'll have to close this issue (cannot reproduce). Thanks!

[2019-11-12 21:29] famod commented on #90
@ambition-consulting It would be great to hear back from you! Thanks.

[2019-11-12 21:31] famod commented on #14
@Bralic & @flefevre can you please report back? Otherwise I'll have to close this issue (cannot reproduce). Thanks!

[2019-11-14 15:13] jacobsinisi commented on #94
Unfortunately I've switched projects now. You can go ahead and close the issue.

[2019-11-14 15:13] #94 closed

[2019-11-15 13:43] famod commented on #91
**I got word from my colleague @Katrin111 that `IntelliJ IDEA 2019.3 EAP (193.5233.12 build)` seems to work properly.**
I'll leave this ticket open until 2019.3 is final and we can re-confirm that the problem is gone for good.

[2019-12-29 22:32] famod opened #98 "Dependency and Plugin updates for Release 3.8.1"
- Dependency updates
- Plugin updates
- Update Travis config to use Maven 3.6.2 instead of 3.6.3
- ...

[2019-12-31 00:17] famod commented on #98
Done.

[2019-12-31 00:17] #98 closed

[2019-12-31 00:19] famod opened #101 "Introduce maven-release-plugin"
To release 3.8.1 and all subsequent releases (to avoid manual version adjustments).

[2019-12-31 01:03] famod commented on #101
Done. Dry-run (just prepare) was successful. Will introduce `RELEASING.md` after relasing 3.8.1 with this "new" mechanism.

[2019-12-31 01:03] #101 closed

[2019-12-31 01:04] famod opened #103 "Release 3.8.1"

[2019-12-31 12:59] famod commented on #103
Release performed. This ticket will be closed once 3.8.1 shows up in central.

[2019-12-31 15:08] famod commented on #103
All done. The "maven central" badge is still shwoing 3.8 but 3.8.1 is already available in/from central.

[2019-12-31 15:08] #103 closed

[2019-12-31 15:21] famod commented on #91
Can anyone try 2019.3.1, please?

[2020-01-08 21:25] famod opened #105 "forceBuildModules always come first, reactor order is not retained"
Given two modules `a` (changed) and `b`, using `-Dgib.forceBuildModules=b` will build `b` first which breaks the reactor order.

https://github.com/vackosar/gitflow-incremental-builder/blob/version/3.8.1/src/main/java/com/vackosar/gitflowincrementalbuild/boundary/UnchangedProjectsRemover.java#L69..L70

[2020-01-08 21:36] famod opened #106 "fetch*Branch fails if Git remote repo URL is set to http(s) and repo requires credentials"
As [JGit is _not_ consulting any Git credential helpers](https://bugs.eclipse.org/bugs/show_bug.cgi?id=441198) (like `wincred`), GIB will try to fetch via the http(s) URL without any credentials which will obviously fail in case the remote repo requires credentials.

PS: Might also affect `ssh` protocol.

[2020-01-08 22:56] famod commented on #105
Fix is available in SNAPSHOT release `3.8.2-20200108.224954-1`:
https://oss.sonatype.org/content/repositories/snapshots/com/vackosar/gitflowincrementalbuilder/gitflow-incremental-builder/3.8.2-SNAPSHOT/

Will be included in 3.8.2 (no release date, yet).

[2020-01-08 22:56] #105 closed

[2020-01-10 16:19] famod commented on #91
@Katrin111 tried **2019.3.1** and there were/are no issues.

[2020-01-10 16:19] #91 closed

[2020-01-10 16:24] famod opened #108 "Reduce typing effort when using -Dgib.[...]"
Ideas:
- introduce short/abbreviated aliases (e.g. `gib.enabled` -> `gib.e`)
- allow properties that understand `true` to be defined without a value (e.g. `-Dgib.enabled` as a shorter alternative to `-Dgib.enabled=true`)
- print all properties with full and short name incl. default values on `-Dgib.help`

[2020-01-12 19:02] famod commented on #108
All implemented. Will land in 3.8.2 or maybe 3.9.0.

[2020-01-12 19:02] #108 closed

[2020-01-12 19:24] famod commented on #70
I just had to introduce a workaround for a Mockito bug that was fixed in 2.0: https://github.com/vackosar/gitflow-incremental-builder/commit/122ceed2ef1b3f3de35748ac80a85c58f0a25276#diff-0e60c5c7a37bbcf776e948ec3ce4560aR19

Furthermore, some distracting JDK9 Reflection warnings are logged (workaround: add `--add-opens java.base/java.lang=ALL-UNNAMED`).

Might be a good idea to firts migrate to a m

[2020-01-13 09:17] famod opened #111 "Release 3.9.0"

[2020-01-20 22:25] famod opened #114 "Upgrade to Mockito 3"
Leave very old 1.10.19 behind.

[2020-01-20 22:57] #114 closed

[2020-01-20 22:58] famod commented on #70
I just upgraded to Mockito 3 via #114.

I also updated to JUnit 4.13, so upgrade to JUnit 5 is still a todo.

[2020-01-20 22:59] famod commented on #106
Done.

PS: SSH not (yet) tested.

[2020-01-20 22:59] #106 closed

[2020-01-20 23:17] famod commented on #111
Released. Waiting to show up on central...

[2020-01-21 10:17] famod commented on #111
Available on central.

[2020-01-21 10:17] #111 closed

[2020-02-09 18:05] famod opened #116 "fetch*Branch + SSH: support private key in non-default locations"
As of GIB 3.9.0, the embedded JGit automatically picks up `~/.ssh/id_rsa` (and ` id_dsa`).
GIB does not (yet) provide any configuration to use any other key.

[2020-02-09 18:13] famod opened #117 "fetch*Branch + SSH: support passphrase protected private key"
As of GIB 3.9.0, the automatically picked up private key (see #116) must not be protected by a passphrase/password (otherwise authentication will fail).

The idea is to _not_ query the passphrase _directly_ but instead zo forward the request to an ssh agent.
See: https://github.com/ymnk/jsch-agent-proxy
This would then be similar to what was implemented in #112 for http(s).

[2020-02-13 23:46] dependabot-preview[bot] opened #123 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-02-13 23:48] #123 closed

[2020-02-13 23:53] famod commented on #70
Some thing to remember when migraton to JUnit 5 is done: Remove `junit` from dependabot ignores (https://github.com/vackosar/gitflow-incremental-builder/blob/9892fece00039177b2919c6acff21ddbca7adf56/.dependabot/config.yml#L17).

[2020-02-16 15:20] famod commented on #116
I decided to go with the default JGit/JSch/SSH-config approach, so nothing really changed except that our `DelegatingCredentialsProvider` now doesn't kick in for SSH connections anymore.
The documentation now reflects the differences between HTTP(S) and SSH.

[2020-02-16 15:20] #116 closed

[2020-02-16 15:25] famod commented on #116
PS: I decided _against_ introducing a new config for a custom key because passing this to JGit/JSch seems rather awkward: https://stackoverflow.com/questions/13686643/using-keys-with-jgit-to-access-a-git-repository-securely

[2020-02-23 17:21] famod commented on #117
GIB is now using `jsch-agent-proxy`.

[2020-02-23 17:21] #117 closed

[2020-02-23 17:51] famod opened #130 "Intermittent failure of MavenIntegrationTest.logChanges()"
I've seen this two times already:
- https://travis-ci.org/vackosar/gitflow-incremental-builder/jobs/653246722?utm_medium=notification&utm_source=github_status
- https://travis-ci.org/vackosar/gitflow-incremental-builder/jobs/654098432?utm_medium=notification&utm_source=github_status

Both times:
[code]
This must have something to to do with the changes in https://github.com/vackosar/gitflow-increm

[2020-02-23 18:12] famod commented on #130
Not 100% sure, but I suppose I've fixed it.

[2020-02-24 10:17] famod commented on #130
Nope, happened again in #132 (but is not visible anymore since I restarted the build).

[2020-03-11 09:04] famod commented on #130
Seems fixed.

[2020-03-11 09:04] #130 closed

[2020-03-26 22:04] famod opened #145 "Optionally buildAll if nothing has changed"
Currently, `GIB` just invokes `validate` for the "current project" (usually the root module) in case nothing has changed.
It would come in handy in certain scenarios if there was a second mode (which can be turned on via a new property) that would instead behave as if `buildAll=true` was set to build everything but in an optimized way (`skipTestsForUpstreamModules` & `argsForUpstreamModules`).

[2020-03-26 23:12] #145 closed

[2020-03-27 16:17] famod commented on #90
To answer myself:

As of 3.9.2 (and before), GIB indeed builds  `A -> B -> C` since it builds downstream modules by default (C is downstream of changed B).

I'll take a stab at this in 3.10.0. This will probably introduce one or two behavioural breaking changes.

[2020-03-27 20:06] famod commented on #14
Closed due to lack of feedback.

[2020-03-27 20:06] #14 closed

[2020-03-29 15:41] famod opened #147 ""Impacted"/downstream module wrongly receives *ForUpstreamModules properties in certain cases"
Given `buildUpstream=true|always|derived` (and `mvn -am` in  case of `derived`) and one of the following two module setups:
- `A <- B* <- C <- D*` with `buildUpstreamMode=changed`
- `A <- B* <- C <- D` with `buildUpstreamMode=impacted`

(`*` marking a changed module)

results in `C` being subject to `skipTestsForUpstreamModules` and `argsForUpstreamModules` (if set), which is clearly wrong since `

[2020-03-30 18:45] #90 closed

[2020-03-30 18:49] famod commented on #90
I added "consistent" `-pl` support which will be released in 3.10.0.

Some notes:
- `-pl` projects will _always_ be built, regardless of being changed or not
- by default, upstream projects of the `-pl` projects will only be built when changed
- I decided _against_ any new properties for now

See the Readme for more details.

I'll probably add a more or less matching `-f` handling for 3.10.0 as we

[2020-03-30 19:02] famod opened #149 "Rename excludeTransitiveModulesPackagedAs to excludeDownstreamModulesPackagedAs"
We use "downstream" everywhere else, not "transitive."

[2020-03-30 19:06] famod opened #150 "Consider handling -f similar to -pl"
After #148 has introduced proper `-pl` support, `-f` should be handled in a consistent way.

Currenty, GIB does not handle (and does not even check for) `-f`, meaning that if a single module is selected via `-f` (which is much faster than `-pl` in case there many other modules) it will only be built if it is changed.
`-pl` will _always_ build the selected projects/modules.

[2020-03-30 22:33] #147 closed

[2020-03-30 23:00] #149 closed

[2020-03-31 20:33] #150 closed

[2020-03-31 20:36] famod commented on #150
Aligned as far as possible/reasonable. See documentation: https://github.com/vackosar/gitflow-incremental-builder#mvn--f-and-others

[2020-04-01 20:57] famod opened #157 "Changed non-reactor module is wrongly mapped to the closest reactor module"
Given the following project layout:
- `root`
  - `A`
  - `B`

and given that `B` is changed, but is _not_ part of the reactor (e.g. profile activated `modules` in `root`), then `root` is considered changed, which is clearly wrong.

[2020-04-01 21:06] #157 closed

[2020-04-01 21:11] famod opened #159 "Introduce includePathRegex"
The opposite to `excludePathRegex` but a combination should be possible (exclude winning over include).

Usecase: Only build certain modules that contain OpenAPI files in case they changed, to deploy those changes as artifacts for the frontend team to integrate.

[2020-04-01 21:44] #159 closed

[2020-04-26 16:59] famod opened #164 "Write impacted modules to a configurable "logfile""
I recently stumbled upon a case where I had to run a separate Maven process per certain module (to test `quarkus:dev` for multiple modules in a "modular monolith" project).

To run this only for modified projects, it would come in handy if `GIB` could write the list of "impacted" modules to a file that can then be consumed by subsequent processes.

[2020-04-26 20:10] famod opened #165 "Relax name constraint when fetching branches"
You can simply set e.g. `referenceBranch=develop` and that will work just fine. But once `fetchReferenceBranch` is active, you are forced to specify `referenceBranch=refs/remotes/origin/develop` (otherwise GIB will fail).

The problem is that GIB needs the name of the remote repository and currently it parses the repo name from the branch name.

The idea is to relax that requirement by checking gi

[2020-05-02 17:05] famod opened #166 "Module that is "deselected" via -pl !... is built if changed"
If a module that is "deselected" via `mvn -pl !...` is detected as "changed", then GIB will have it built, which is most likely not what the user expects.

This is caused by the following change: https://github.com/vackosar/gitflow-incremental-builder/commit/e46a53817ab92246a4369e2007a98e086963ae49#diff-76674b96623cf2df2e4eccd68f1183f1

The question is: Should (non-deselected) up- and/or downstrea

[2020-05-03 18:57] #166 closed

[2020-05-03 19:53] famod commented on #166
I went with: yes! In case this doesn't meet the expectations of some user we can introduce a toggle for that.

[2020-05-03 21:43] #164 closed

[2020-05-03 22:52] famod commented on #165
Turns out that this would be pretty inconsistent: If we would just add `refs/remotes/origin/` to `develop` (calculated via git configuration), then we would fetch the _remote_ `develop` but since the value of `referenceBranch` is just `develop`, the comparison would use the _local_ `develop` branch, not the fetched _remote_ `develop` branch.

I will therefore _not_ add this to 3.10.1. I will only

[2020-05-03 23:19] #165 closed

[2020-05-19 11:45] famod opened #172 "GIB should handle -N similar to -pl (and -f)"
`mvn -N` will cause GIB to apply `*ForUpstreamModules` but instead it would be more consistent to behave like this: https://github.com/vackosar/gitflow-incremental-builder#explicitly-selected-projects

[2020-05-22 17:30] #172 closed

[2020-05-22 22:31] famod commented on #23
I extended the documentation quite a bit over the last months but it still missing a few of the older properties.
Once we have migrated from extension only to plugin + extension (#19), we'll probably _generate_ the documentation (`mvn site`).

[2020-05-23 22:32] famod commented on #76
Self quote:

https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml

So this won't work at all.

I'll have a look at https://www.eclemma.org/jacoco/trunk/doc/check-mojo.html and maybe also the report goal so that we have at least _some_ feedback for PRs.

[2020-05-23 22:34] #70 closed

[2020-05-24 00:19] #76 closed

[2020-05-24 13:03] famod opened #177 "Migrate integration test to maven-invoker-plugin"
http://maven.apache.org/plugins/maven-invoker-plugin/

This is the "natural" approach to test Maven plugins and extensions and would allowus to drop some custom setup logic.

[2020-05-24 13:06] famod commented on #76
Now we have at least (exspecially for PRs) in the "Maven 3.6.3 & Open JDK 11" build:

![grafik](https://user-images.githubusercontent.com/22860528/82754850-06bc8d00-9dd0-11ea-8df4-547ed9db717f.png)

And the build fails if coverage drops below the current values.

[2020-05-24 21:43] famod commented on #177
Turns out our approach with `template.zip` (contains a multi-module test project with its own git repo) is not compatible with the invoker approach, which is one project in `src/it/...` per test case.

While evaluating this, I found some things we can borrow from invoker plugin nonetheless.
I'll create a separate PR for these ideas.

[2020-05-24 21:43] #177 closed

[2020-05-28 21:38] famod commented on #19
I had a more detailed look: Not great, but it's doable.

The parameter part is...awkward, to say the least, since either we would need to duplicate the "parameters" (like in https://github.com/lesfurets/partial-build-plugin) or we would need to create some sort of base class that is shared by the Mojo and the "new" refactored `Property` class.
PS: I honestly would not want to go the ["inner undocu

[2020-05-28 22:42] famod commented on #19
Fun fact, this already works:
[code]
This will obviously ignore any `configuration` entries, though.

[2020-05-31 15:07] avodonosov opened #180 "hash versions instead of gitflow"
Hi, that a cool plugin.

I'd like to propose an idea of how to avoid rebuilds even more conveniently than relying on gitflow (and assuming we always have "develop" artifacts available).

If every artifact will be automatically assigned a  version which is a hash of all the sources, versions of all the dependencies and of build parameters, then such hash-based version would uniquely identify the ar

[2020-06-07 14:56] famod commented on #180
Hi @avodonosov!

Thanks for this interesting suggestion.

How would you solve the problem that modules would need to be installed into the local repo with hash versions (as far as I understood) but when referencing those modules (as depenedencies or paranets) you need a specific version?

To be honest, this sounds like an entirely different and even more invasive approach and the two approaches wo

[2020-06-07 21:10] avodonosov commented on #180
@famod, I think references should also use hash versions. Although, maybe different approaches are also possible.

A plugin could define for every module property <modulename>.version, and dependency specifications as well as the module's own pom.xml use this property.

[2020-07-15 23:04] famod commented on #23
I decided _against_ `site` since we would always only have a "fake" mojo on that site which is rather irritating. GIB will always do its work as an extension. See #19 for more context.

In PR #195 I have added all the properties that were missing and that PR also adds a plugin descriptor so that you can even see the parameters/proeprties in your IDE etc.

This is how far I will go with this ticket

[2020-07-15 23:07] famod commented on #19
PR #195 adds "proper" plugin support including documentation.
In its core GIB will stay a Maven extension. The plugin config is merely a shell. So there are two usage scenarios and it is not really "a migration from extension to plugin".

Please open a new issue if you need more "plugin support" (however that might look like). Thanks!

[2020-07-15 23:24] #19 closed

[2020-07-15 23:24] #23 closed

[2020-07-16 17:32] famod commented on #177
PS:
This:

is not entirely true. It doesn't work OOTB but we could implement a invoker test support class that would do the setup.
But as of now, there is no urgent reason to switch to invoker.

[2020-07-16 22:45] famod opened #199 "Plugin parameters don't show up in Eclipse editor"
In Eclipse IDE, plugin parameters in `<configuration>` blocks are usually all listed for selection but that does not work for GIB 3.11.0. The list is basically empty (only suggesting root `<project>` which does not make sense).

Turns out `m2e` bypasses the `type`-info from `plugin.xml` and tries to gather the types on its own. But since it _skips_ static and/or final fields, the GIB [`Property` `

[2020-07-16 23:04] famod commented on #199
Question pending in `m2e-dev`: https://www.eclipse.org/lists/m2e-dev/msg02296.html

Depending on how this turns out, this will be fixed in an upcoming release of `m2e` or I will have to find a workaround in GIB.

[2020-07-19 22:56] #199 closed

[2020-07-21 03:02] avodonosov commented on #180
@famod , I implemented a proof of concept: https://github.com/avodonosov/hashver-maven-plugin

[2020-07-23 12:34] famod opened #204 "GIB 3.11 throws NPE in IntelliJ during project import"
[code]

[2020-07-23 16:53] famod commented on #204
This is actually a problem in the IntelliJ Maven integration:

With 3.11, GIB consistently uses the `MavenSession` via injection.
Before that, GIB used the session that is passed in via `AbstractMavenLifecycleParticipant` as a parameter for the first few steps, but for 95% of the cases it used the injected session.

This _no_ problem on the command line (standard Maven usage), since both injection

[2020-07-24 21:33] #204 closed

[2020-07-24 21:38] famod commented on #204
See the following comment on how to obtain a SNAPSHOT that fixes the problem: https://github.com/vackosar/gitflow-incremental-builder/pull/206#issuecomment-663744741

[2020-07-26 20:22] famod opened #211 "Remove deprecated property 'enabled'"
This property was deprecated by #209 and shall be removed entirely in an upcoming release (3.12.0 at the earliest).

[2020-07-26 20:39] famod commented on #204
Turns out this NPE _was_ also occurring when GIB is configured via `.mvn/extensions.xml`.

[2020-07-26 22:11] tkalmar opened #212 "Exception during gitflow-incremental-builder execution occurred. Git branch of name 'HEAD' not found."
I got the above error message when starting gib on a new project via `mvn clean install`.
The repository is fresh (`git init` ) uncommited and has no remote configured yet.
My expectation ist a still buildable project.

Context:
[code]

Debug log:
[code]

root pom:
[code]

[2020-07-26 22:25] famod commented on #212
GIB performs (or in this case: _tries_ to perform) a branch comparison right away. Its main focus is/was gitflow setups.

But I agree it could be more robust at this point. For now you'll have to specify `-Dgib.dbc` (for `disableBranchComparison=true`) until you have a HEAD _and_ a `develop` branch.

[2020-07-26 22:27] tkalmar commented on #212
Ok but then the error message is completly missleading, i have a HEAD branch ...

[2020-07-27 12:25] famod commented on #212
I have to check it out myself but I guess that you even have to _push_ `develop` to make it work because `referenceBranch` is by default:
[code]
So yes, the OOTB experience is pretty poor in this scenario.

[2020-07-27 21:49] famod opened #213 "Rethink property source priority for plugin usage scenario"
When defining [GIB as a plugin](https://github.com/vackosar/gitflow-incremental-builder#usage-as-a-maven-plugin) (which is merely a "better looking shell" for the extension), you can define GIB properties within `<configuration>`, as one is used to in the Maven world.
Since Maven does not provide any `@Parameter` support (or simiar) for extensions, GIB has to collect the properties from three pote

[2020-07-28 06:48] mickroll opened #214 "local test execution blocks build"
A local `mvn clean install` stops forever in `DifferentFilesSshFetchTest`.

I think I found the reason: `ConsoleCallbackHandler` is used internally
![grafik](https://user-images.githubusercontent.com/9883575/88628758-b3580b00-d0ae-11ea-8cd0-2a0d7a0d1aea.png)

A fix should prevent usage of `ConsoleCallbackHandler`. Either the test should fail because of some bad local configuration, or it should wo

[2020-07-28 07:04] mickroll commented on #212
I am currently writing a test case for this. Stay tuned.

[2020-07-28 09:56] mickroll commented on #213
Sorry to say, but i think going the Maven standard way ist the right thing to do. Being able to do things differently to other maven plugins is nice if you fully understand all the details and are aware that for gib things work in a different way. Most users are not and will not be. Even mentioning it in the README would not prevent them from nearly hopeless WTF moments.

[2020-07-29 07:23] #214 closed

[2020-07-29 07:54] famod opened #217 "Add CONTRIBUTING.md"
It's best practise to have a `CONTRIBUTING.md` to document some rules.

[2020-08-23 20:59] famod commented on #213
PR #233 prioritizes plugin properties over system properties to be consistent with regular Maven plugins.

[2020-08-23 21:26] mickroll commented on #213
I know the way maven works here hurts a little, but i think this is the way to go.

As a second thought, the main reason for all this hassle is, as @famod wrote:

Now reading all this again, my first reaction would have been to add a feature request to the maven issue tracker. As it turns out, the corresponding issue already exists: https://issues.apache.org/jira/browse/MNG-5897
And, luckily, its

[2020-08-23 21:29] famod commented on #213
Thanks for sharing the link to MNG-5897! I'll leave a comment there.

[2020-08-23 21:45] #213 closed

[2020-08-24 21:53] famod opened #237 "Remove deprecated property name 'uncommited'"
Was renamed and deprectaed in 3.11.3 via #234.

[2020-08-26 18:11] gastaldi opened #241 "Support BOM incremental changes"
This may be a crazy idea, but I'd love to see it implemented:

If a BOM is used (a managed dependency with `<type>pom</type>` and `<scope>import</scope>`) in a project and a dependency version included in this BOM is changed, it would be nice if GIB could build only the modules that depend on the changed dependency.

[2020-08-26 18:34] gastaldi commented on #241
I think this can be split into two action items:

- [ ] Detect downstream modules on a BOM module (BOMs added in dependencyManagement doesn’t seem to participate in the dependency graph resolution - need to confirm this)
- [ ] Detect the dependencies changed in the BOM and build the downstream modules

[2020-08-30 18:09] famod opened #243 "Fully migrate from Junit5 assertions to AssertJ"
The current mix is harder to maintain. AssertJ should be used everywhere.

Note: `implements WithAssertions` can be dangerous, so better use static imports.

/cc @mickroll

[2020-08-30 19:05] famod opened #244 "Use NIO Path instead of File in tests"
There is a rather wild mix currently. This should be cleaned up.
Rather call a `toFile()` when invoking thirdparty APIs than the other way round.

[2020-08-30 19:47] famod commented on #241
@gastaldi You did not mention this so I think we are on the same page: I will only consider the downstream path, meaning that GIB will _not_ consider the BOM artifact an upstream dependency for all modules it is imported in. Do you agree?

[2020-08-30 20:00] gastaldi commented on #241
@famod yes, that's correct.

[2020-08-31 11:11] famod commented on #241
@gastaldi WDYT: I thought about adding a new property `bomArtifactIdRegex` (or similar) that can be used to give GIB an optimization hint so that it does not have to treat _every_ `pom` module as a potential BOM.
For Quarkus this could be set to `quarkus-bom(-test)?`.

You could also use this property to effectively disable the BOM check (e.g. `-` or some other fake value).

[2020-08-31 13:06] gastaldi commented on #241
@famod that sounds like a good idea, but isn't easier to just assume that `pom` packaging-projects with `dependencyManagement` are BOMs?

[2020-08-31 13:42] famod commented on #241
Easier in terms of amount of code to write: yes.
But for each found `pom` module that is changed or dependends on changed modules, I have to consult _all_ projects in the reactor to check whether they import the respective `pom` module as a BOM. This can quickly become inefficient.

[2020-08-31 14:30] gastaldi commented on #241
Yes, and can also inherit from their parent poms too, so maybe we need to think a bit on how would that work performance-wise since having an effective model of each project will definitely be an inefficient operation

[2020-08-31 22:11] famod commented on #241
Status: First successful run with Quarkus! A change to `quarkus-bom` triggers 666 (😮) modules, instead of 690 for non-incremental build. 🎉
Nasty catch: `MavenProject.getDependencyManagement()`  (for `quarkus-build-parent`) does _not_ contain the `quarkus-bom` dependency anymore! Took me some time to realize that I have to use the depMgmt of the "raw" model instead via `MavenProject.getOriginalMode

[2020-08-31 22:14] gastaldi commented on #241
Ah I forgot about the `getOriginalModel()`. This means that the MavenProject itself is already an effective model (which means that https://github.com/vackosar/gitflow-incremental-builder/issues/241#issuecomment-683815353 is already resolved).

[2020-08-31 22:18] famod commented on #241
And it's rather fast too, even without `bomArtifactIdRegex` (numbers in nanoseconds):
[code]

Small annoyance (see last line):
[code]
In Quarkus it is `${project.version}` which I consider best practise but it could also be something else. Might yield false positives though but I don't think it is very common to use a BOM that lives in the same project with another version than the rest...?

Will

[2020-08-31 22:21] gastaldi commented on #241
Can't wait to try it  :)

[2020-08-31 22:26] famod commented on #241
@gastaldi
https://oss.sonatype.org/content/repositories/snapshots/com/vackosar/gitflowincrementalbuilder/gitflow-incremental-builder/3.12.0-SNAPSHOT
`3.12.0-20200831.222512-1`
😉

[2020-08-31 23:30] famod commented on #241
@gastaldi

I must have overlooked this but I am not sure that I'll be implementing this for 3.12.0 since this is much more than "just" detecting all downstream modules of a BOM.

I mean GIB would need to:
- parse the diff
- match the changed property (or properties) to dependencies _or_ (in case no properties are used) look "around" the changed line for the matching coordinates
- find all modules

[2020-08-31 23:42] gastaldi commented on #241
Yeah, that's why I split into two actions:

- The first is a minimum requirement to make it work with BOMs;

- The second one is more fine grained and adds a lot of value if/when implemented. It can be part of a later release if you like

[2020-08-31 23:44] gastaldi commented on #241
The second action should also take in account changed transitive dependencies (hence why an effective model is necessary in this case)

[2020-09-02 10:24] famod opened #247 "Fewer modules are built with GIB than without it when -rf is used"
Observed by @maschoene:
- 4 modules A, B, C, D
- D needs B & C
- B & C need A
- A and B are changed
- `-rf :B` only builds B & D, but B, C and D are expected

Without GIB, B, C and D are built.

[2020-09-02 12:27] famod commented on #247
I need to check this but I guess now downstream is calculated for A because it is "deselected" via `-rf`.

@gastaldi I think this will also affect the `-pl single-project` use case in some of the Quarkus CI jobs.

[2020-09-02 22:44] famod commented on #241
PR takes me a little longer since I found a way to resolve something like `${project.version}` properly.

[2020-09-06 21:32] famod commented on #247
@maschoene

Hm, could not reproduce it:
[code]
I'll have a look at the original scenario (our internal project). Something must be different.

@gastaldi Good news, we just a need a new property that disables all "convenience features" for ["selected projects"](https://github.com/vackosar/gitflow-incremental-builder#explicitly-selected-projects) to make `-pl` work like we discussed.
So for now it s

[2020-09-07 20:39] #241 closed

[2020-09-07 21:29] famod opened #251 "Support BOM incremental changes part 2"
Follow up to #241. This is about the much more complicated part of trying to detect _which dependency_ has changed _inside_ a BOM to then only build the modules actually depending on this dependency (or dependencies).

[2020-09-07 21:32] famod commented on #247
To be clarified after @maschoene hast returned from PTO.

FTR: Maven itself (without GIB) does _not_ build C in the mentioned internal project (which is far more complex than my simple reproducer).

[2020-09-09 16:48] vackosar opened #253 "Project Icon: Maven feathers + Git sign"
What do you think about creating an icon for the project, such that the project landing page is more appealing? For example Maven's feathers + Git sign could work.

[2020-09-10 08:24] famod commented on #253
Nice idea! No sure whether those logogs can be reused like that (copyright)?

[2020-09-13 16:47] #211 closed

[2020-09-13 16:53] #237 closed

[2020-09-13 17:48] famod commented on #243
Might help: https://joel-costigliola.github.io/assertj/assertj-core-converting-junit5-assertions-to-assertj.html

[2020-09-13 17:56] #244 closed

[2020-09-13 18:14] famod opened #257 "Some (all?) integration tests complain about "build is platform dependent!""
[code]
(on Windows)

[2020-09-13 18:35] #257 closed

[2020-09-18 15:40] famod commented on #253
Btw, the feathers are actually the icon/logo for Apache .

[2020-09-18 18:00] #243 closed

[2020-10-02 21:45] famod opened #269 "Consider building upstream modules regardless of being changed or not when using -pl and -am"
See https://github.com/vackosar/gitflow-incremental-builder#mvn--pl:

More specifically this part:

I had a reason to implement it like this but I don't remember. Actually I now think this is counterintuitive and the condition should be dropped.

[2020-10-04 16:50] famod commented on #269
@mickroll Do you have an opinion about this?

[2020-10-05 22:23] mickroll commented on #269
I see 2 main use cases for gib:
- ci builds, where only changed modules should be built, on top of an existing workspace of an earlier build.
- local, day to day builds where gib should 'not get in the way' (which means something different for any dev)

CI builds may use some more gib configuration, as it is not changed very often.
Local builds should be not need a lot of config parameters. If i s

[2020-10-06 20:16] famod commented on #269
At some point, I actually thought about something like `-Dgib.am` but it somehow like reinventing the wheel.
Besides, there is already `-Dgib.buildUpstream=...` (and `-Dgib.buildDownstream). Maybe `changed` could be added as value.

So, basically you confirmed what I was thinking. Thanks!

[2020-11-11 16:57] famod commented on #213
Btw, a few weeks ago there was a discussion on the Maven users mailing list: ["Why does POM <configuration> have precedence over -D property expressions?"](https://lists.apache.org/thread.html/r38b168724d6861151081490bc9d3680b6ed4beb693e5e70b671db0f6%40%3Cusers.maven.apache.org%3E)

[2020-11-12 17:06] mickroll commented on #213
Maybe this is one of the things to change in the big maven 4.0 release? Although maven 3.7 seems to grow bigger and bigger in changes...
We'll see 😃

[2020-12-13 23:13] #269 closed

[2020-12-16 09:36] famod commented on #247
Turns out that this got fixed as a side effect of #288.

[2020-12-16 09:39] #247 closed

[2021-01-18 22:26] famod opened #294 "Finalize switch from Travis CI to GH actions"
Travis CI is pratically dead for OSS: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

In fact, it already stopped working for this repo. The following note is printed on travis-ci.com:

I've already pushed a small first iteration of a GitHub Actions CI: https://github.com/vackosar/gitflow-incremental-builder/commit/77cb9eda57c4c85a9cd717c0ca0e721d29eda2b2

This needs to be finalized (

[2021-01-18 22:31] famod commented on #294
/cc @vackosar I think I will re-setup the Codacy part after we have moved this repo to an organization.
I will try to come up with a good name for it. 😉 Recommendations welcome!

[2021-01-24 21:06] #294 closed

[2021-01-24 21:14] famod commented on #294
I'll add Codacy coverage reporting once we moved to a GH org.

[2021-01-24 21:16] famod opened #297 "Small CI adjustments"
After the main stuff is now done in #294, the following tasks are left:
- [x] add `-qq > /dev/null` to `lynx` installation
- [x] ~~try to bring back `[skip ci]`~~
  This is now a standard feature: https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/
- [x] try to use `-Dquickly` when running on `master` in a fork
- [x] shorten badge label

[2021-01-24 21:17] famod opened #298 "Move to Github organization"
Discussed multiple times, would greatly improve maintainability.
Main problem: The name! 😁

[2021-02-09 20:45] famod commented on #298
Thanks @vackosar for the move!

[2021-02-09 20:45] #298 closed

[2021-02-09 21:37] #297 closed

[2021-02-09 21:41] famod opened #304 "Consider moving template.zip to separate GH repo"
Now that we have a GH org, we should consider creating a test repo from `src/test/resources/template.zip` so that changes are clearly visible and not hidden in that archive (which doesn't have a helpful diff in PRs).

[2021-02-15 20:42] famod opened #309 "Consider dropping "Regex" suffix from various properties"
Given the new `skipIfPathMatches` property (#310), something like this would be more readable:

- `disableIfBranchRegex` -> `disableIfBranchMatches`
- `excludePathRegex` -> `excludePathMatching` (or even "...PathsMatching")
- `includePathRegex` -> `includePathMatching` (...)

[2021-02-16 14:34] famod opened #311 "CI: Cache Codacy reporter jar?"
As of now, it is downloaded for each build.

[2021-02-22 12:23] famod commented on #180
@avodonosov Congratulations on succeeding with `hashver-maven-plugin`!
I'll close this issue because you have your own plugin now and adding such a feature to GIB is out of scope for now (might reopen at some later point).

Also thanks mentioning GIB in you README. But please do note that GIB does _not_ force anyone to use gitflow!
You can compare o tags, commit hashes etc.
To reflect that, I'd ap

[2021-02-22 12:23] #180 closed

[2021-02-22 12:31] famod opened #314 "Consider changing com.vackosar package prefix to io.github or similar"
To better reflect that GIB now has its own organization, it seems like a good idea to adjust the package prefix.

I've been thinking about `io.github.gitflow_incremental_builder` (although I must say I don't like `_` in packages) - but `gitflowincrementalbuilder` is rather hard to read. Just `gib` for that part does not fully reflect the GH structure.

`io.github` might also be a bad idea in case

[2021-02-22 23:07] avodonosov commented on #180
@famod , can we have a 30 mins call some day? I'd like to understand GIB better if you say it does not require gitflow.

[2021-03-02 21:21] famod commented on #180
@avodonosov Sorry, my (free) time is very limited these days.

Short version: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibreferencebranch can also take a tag and a commit hash should also be possible (haven't tested this for a long time).
You can also switch off [branch comparison](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibdisab

[2021-03-04 12:36] famod opened #320 "Module "depending" on BOM is not built (fully) when BOM is not selected"
Came up here: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Master.20broken/near/228756714

[code]
with unchanged `foo` importing a changed BOM `bar` will not result in `foo` being built fully (only `validate`).

This will most likely also happen for `mvn ... -pl !bar` (BOM deselection).

**Workaround**: Use [`skipIfPathMatches`](https://github.com/gitflow-incremental-builder/git

[2021-03-09 21:37] #320 closed

[2021-03-13 14:17] famod opened #324 "Drop support for Maven 3.6.2 or older"
Due to [MNG-6173 MavenSession.getAllProjects() should return all projects in the reactor](https://issues.apache.org/jira/browse/MNG-6173), `disableSelectedProjectsHandling=true` does not work with Maven 3.3.1-3.3.9. This was spotted here: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/pull/321#issuecomment-793596425
Another but more "cosmetic" problem (even without `dis

[2021-03-14 19:25] #309 closed

[2021-03-15 16:29] don-vip opened #328 "Skip sub-projects of deselected projects"
From documentation:

_Since 3.10.1, "deselected" projects (mvn -pl !...) that contain changes will not be built, but their up- and downstream projects will be built (if not also deselected)._

The behaviour concerning sub-modules is not specified. In this example:

A
 - B < I want to ignore all projects under B
   - C
   - D < a file is changed here
   - E, F, G... Many many more sub-projects

Whe

[2021-03-15 21:58] famod commented on #328
Thanks for reporting this!

In your example, are C, D etc. referencing B as their parent or not? This makes a difference because Maven considers C a downstream module of B when there is such a parent relationship.

[2021-03-15 22:06] famod commented on #328
I tested this briefly and when there _is_ such a parent relation, `mvn -pl '!:X'` does _not_ exclude the sub-modules of X.

[2021-03-15 23:04] don-vip commented on #328
I am so sorry, you're right. During my manual tests I forgot to add the required profiles of the sub-modules... I don't know if there is a "Maven way" to achieve what I want (build everything except B and its sub-modules, without having to list all of them)

[2021-03-15 23:38] famod commented on #328
No worries!

Maven 4 will actually make `-pl` recursive, so that `-pl B` will build all its sub-modules and `-pl !B` with neither build B nor its sub-modules.
The old behavior can be brought back with `-N -pl ...`.

The problem with a custom implementation is that all upstream/downstream calculation in GIB is currently based on Maven core `DependencyGraph` (well, except a part of the BOM support).

[2021-03-15 23:44] famod commented on #328
@don-vip In case there is also a module X under A (sibling of B), that depends on B or any of its sub-modules: Would you expect GIB to build X in case B or any of its sub-modules is changed but B excluded (and its sub-modules are)?

[2021-03-16 09:30] don-vip commented on #328
Good question. It doesn't make sense in my project. If it was the case I think I would exclude X as well. So I don't know what would be the best choice for GIB behaviour here.

[2021-03-16 20:58] famod commented on #328
Well, not building X in that case is the complicated part because GIB would need to evaluate all of its upstream modules to figure out whether is should be excluded or not. A graph analysis so to say, which can be rather slow for big repos if not done cleverly.
Just excluding B and its sub-modules should be the ways easier part.

I think I'll have a look how Maven 4 alpha behaves but I suppose the

[2021-03-24 16:10] famod opened #331 "Don't build downstream modules if just "src/test" contains changes"
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Incremental.20build/near/231650984

Gotcha:
Module might produce `test-jar` artifact that is used by another module.
https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibskiptestsforupstreammodules already has some logic for that.

[2021-04-05 13:49] #331 closed

[2021-04-05 13:57] famod commented on #328
Status: I didn't have the time to look into this in detail for 3.14.0 (which I will release today) but I think we'll need a new GIB property for this, e.g. `-Dgib.excludeDownstreamModules=B` or similar, probably with wildcard support.

[2021-04-06 10:33] famod opened #336 "Warning: Detected Maven 3.8.1 was not tested with gitflow-incremental-builder."
[code]
I forgot to adjust [that part](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/blob/version/3.14.0/src/main/java/com/vackosar/gitflowincrementalbuild/boundary/MavenLifecycleParticipant.java#L114) when bumping to Maven 3.8.1 via #335.

This warning can be ignored for now.

[2021-04-06 21:52] #336 closed

[2021-04-19 21:49] famod opened #344 "CI: try out GH `concurrency` and `cancel-in-progress`"
https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency

[2021-04-23 07:09] chtpl opened #345 "Please clarify what "Usage as a Maven extension" means"
Is my guess right that it will affect all projects I build on a PC where I use the "Usage as a Maven extension" option, while the other option "Usage as a Maven plugin" will only activate it for that specific repository?

[2021-04-26 20:47] famod commented on #345
Maven extensions only apply to a specific project, so in that regard there is no difference to plugins.
The plugin way can be more flexible because it allows easier configuration and supports profiles.
If you want to keep an extension out of your (root) pom.xml for whatever reason, you can use `.mvn/extensions.xml`.

[2021-04-27 08:56] chtpl commented on #345
OK thanks :)

[2021-04-27 08:56] #345 closed

[2021-05-18 20:48] famod opened #353 "Relativize entries in `logImpactedTo` file to repo path"
The module paths in that file are absolute which is not in line with how e.g. `excludePathsMatching` works.

A repo in `/foo/bar` with modules `/foo/bar/baz` and `/foo/bar/bing` should result in (assuming all modules impacted):
[code]
and not:
[code]

This would prevent the need for post-processing like the following `sed`: https://github.com/quarkusio/quarkus/blob/2.0.0.Alpha2/.github/workflows/c

[2021-05-18 22:17] #344 closed

[2021-05-25 14:38] famod opened #356 "Introduce disableIfReferenceBranchMatches"
Just like https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibdisableifbranchmatches but matching against the [`referenceBranch`](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibreferencebranch).

See also: https://github.com/quarkusio/quarkus/pull/17451#issuecomment-847921697

[2021-05-27 20:48] #353 closed

[2021-05-27 21:35] #356 closed

[2021-05-28 11:06] famod opened #359 "*Matches/Matching properties are not applied to the full string (e.g. current branch)"
`gib.disableIfBranchMatches=\d+\.\d+` (for release branches like in Quarkus,  e.g. `1.13`) will also match `bump-xyz-to-1.1` or similar.

This is not the intended behavior as this will catch too much. Given that those are regular expressions, you can easily use e.g. `.*` to get a substring match behavior.

[2021-05-28 11:32] #359 closed

[2021-06-10 21:19] polaroidkidd opened #366 "sshkey with `@` in name"
I was curious if this is planned or if you know of a workaround

post of my ssh-keys follow the patten [name].[mashine]@[organisation.tld] but it seems that the `@` causes a "FileNotFound exception with the ssh key if I have it listed in my ssh config file.

[2021-06-10 22:25] famod commented on #366
Can you please post the full stacktrace? I suppose it is coming from JGit?

[2021-06-11 07:34] polaroidkidd commented on #366
command: `mvn install -X`

stacktrace
[code]

ssh-config
[code]

if I rename `dae@company.gitlab.ch` to `dae` it works as expected.

[2021-06-12 21:40] famod commented on #366
What is `ls -la /home/dle/.ssh/dae@ti8m.gitlab.ch` giving you?

[2021-06-14 07:15] polaroidkidd commented on #366
:man_facepalming:

the git config is wrong.

the file is called `dae@gitlab.ti8m.ch`  and not `dae@ti8m.gitlab.ch`

Sorry for the noise.

Great tool btw!

[2021-06-14 07:15] #366 closed

[2021-06-14 07:18] famod commented on #366
No worries! Sometimes all you need is a rubber duck! 😉

[2021-06-16 11:30] ChrissWeiss opened #370 "Support for "changes on the same branch""
Short idea / feature request

In a lot of projects I see the need to do incremental builds based on a git  commit within one defined branch.
E.g.: build all defined maven modules which has changed on "branch x" based on the last "git commit".

Perhaps a good extension for this plugin.

[2021-06-16 22:04] famod commented on #370
If you really just want to take into account the last commit, `-Dgib.rb=HEAD~1` should do what you want.
Or long version for pom.xml (usage as plugin):
[code]
And you might want to disable untracked and umcommitted (see README.md),

[2021-06-22 19:43] famod commented on #370
@ChrissWeiss Does this ⬆️ work for you? Do you need more info or do you see something that can be improved in that matter?

[2021-06-23 19:48] delanym opened #376 "Tolerate modules in same directory"
When a directory has multiple project model files, e.g.

project/pom.xml
project/parent.xml

and a change is made in the directory, instead of throwing

`Exception during gitflow-incremental-builder execution occurred. Duplicate key MavenProject`

assume the change applies to both

[2021-06-23 21:52] famod commented on #376
The parent is in the same directory as a/the module? That's a very unusal setup I have to say. 😉

Can you post the entire stacktrace please? GIB is not throwing that exception on purpose so I assume it's coming from some stream processing.

[2021-06-23 22:09] famod opened #377 "Maven modules embedded in test resources don't result in containing module being detected as changed"
E.g. in Quarkus a change in `integration-tests/scala/src/test/resources/projects/classic-scala/pom.xml` resulted in:
[code]
See: https://github.com/quarkusio/quarkus/pull/18067#issuecomment-866029703

This is right and wrong at the same time: Right because that single embedded project is in fact not part of the reactor but clearly, expectation is that `integration-tests/scala` is detected as chang

[2021-06-24 06:04] delanym commented on #376
Yeah its because one of the projects is a Maven plugin required by the others and I just don't want to have that extra directory so high up in the tree. Perfectly valid though! :)

[code]

[2021-06-24 10:02] famod commented on #376
Ok thanks! I'll have a look and in case the fix is easy enough you can expect it to be contained in 3.14.3 which I'll release in the next few days (sunday at the latest, I hope).

[2021-06-24 20:26] #377 closed

[2021-06-24 21:26] famod commented on #376
@delanym Can you please try snapshot version `3.14.3-20210624.212420-1` to see if it works for you? Thanks!

You might need to configure this repo in your `settings.xml` to get that version:
[code]
If you are using GIB as a plugin then you need to configure this as a `<pluginRepository>` instead.

[2021-06-25 11:25] delanym commented on #376
Its not complaining anymore, and it builds incrementally and not as usual. Thanks!

[2021-06-25 12:01] famod commented on #376
Thanks for checking, will release today

[2021-06-25 12:01] #376 closed

[2021-07-01 14:45] ChrissWeiss commented on #370
@famod Thanks for the hint. I will test it and provide feedback!

[2021-07-27 13:10] polaroidkidd opened #387 "lacking understanding on how to match paths/files in `-Dgib.excludePathsMatching` or `-Dgib.skipIfPathMatches`"
Hi there

We have a project structure something like this
[code]

Our master build pipe-line parses the module pom files and replaces the version tag values from `0.1.4--SNAPSHOT` with `0.1.4.123312` (some build hash).

It does this prior to actually launching the build. This means, when GIB compares the `master` branch with the `master--reference` branch it will notices the changes in the pom fil

[2021-07-27 20:47] famod commented on #387
`modules/module-.*/pom\.xml` look correct! Just `pom\..*` won't work because you have to match the entire path _within_ the repo (in your example: not `root` or anything before that). I changed that here not long ago: #359

Have you tried quoting the argument, e.g.:
[code]
?

Btw, regarding:
[code]
Have you considered https://maven.apache.org/maven-ci-friendly.html? With that you don't need to mod

[2021-07-28 10:37] polaroidkidd commented on #387
It works! I can't believe I didn't think of that..

I'm not sure we have. but I'll bring it up with the DevOps team. Thanks for the hlep!

[2021-07-28 10:37] #387 closed

[2021-07-28 10:47] famod commented on #387
No worries, glad it now works for you!

[2021-07-29 22:08] famod commented on #370
@ChrissWeiss friendly reminder ⬆️ 🙂

[2021-07-30 06:32] ChrissWeiss commented on #370
Good morning @famod,
sorry for the late reply. Your solution works like a charm! Thus thanks a lot for your help!

[2021-07-30 06:32] #370 closed

[2021-07-30 06:32] ChrissWeiss commented on #370
see above

[2021-07-30 06:55] famod commented on #370
Thanks for your feedback!

[2021-08-03 05:37] chtpl opened #390 "How to run a command before incremental builder runs on mvn clean install"
When I clone my project that uses this plugin and directly run `mvn clean install`  on it, it fails because the reference branch cannot be found.
When I then run `git checkout <REFERENCE_BRANCH>` and `git checkout -` (previous branch) it works.

I want it working without manually checking out the reference branch before. How can I do that?

[2021-08-03 08:52] famod commented on #390
So the reference branch does exist remotely? In that case you could try https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibfetchreferencebranch

[2021-08-03 09:13] chtpl commented on #390
Yes, the ref branch exists remotely. So fetchReferenceBranch does also checkout the reference branch? (In my understanding, fetching is a step that is done before I can checkout a branch)

[2021-08-03 09:15] famod opened #391 "Codacy is not displaying (receiving?) converage data anymore"
https://app.codacy.com/manual/gitflow-incremental-builder/gitflow-incremental-builder/dashboard and the badge also shows 0%.

CI does collect coverage data and the reporter says that data has been uploaded. So not sure what's going on here...

[2021-08-03 09:40] famod commented on #390
Well, it depends how `referenceBranch` looks like.

If it's `refs/remotes/origin/develop` (or `origin/develop`) then it should actually work right away, even without fetching, unless you cloned with a specific refspec.
If it's just `develop` or so, then yes you need to have it checked out as a local branch. GIB does not have a flag to check out (and switch to) a branch.

I think what you could do

[2021-08-03 10:24] chtpl commented on #390
Hm I think I did not quite understand it yet.

When I do a fresh clean clone of the repo using plain old `git clone <URL>`, `cd` into the directory and execute `git branch -a` here is the excerpt from the output
[code]

I could then simply do `git checkout main-reference` (without /remotes/origin) and `git checkout feature/existingbranch` and `mvn clean install` would use incremental build as I ex

[2021-08-03 10:24] chtpl commented on #390
Support for the checkout prior to evaluation of GIB would be great :)

[2021-08-03 10:26] chtpl commented on #390
I tried the config you proposed

[code]

and this error occurs:
`[ERROR] Exception during gitflow-incremental-builder execution occurred. Branch name 'main-reference' is not tracking branch name since it does not start refs/remotes/ -> [Help 1]`

[2021-08-03 12:40] chtpl opened #392 "Suggest checking out reference branch before build when reference branch is not found"
To keep #390  clean I am creating a new issue to address the error message that I am getting.

For people that are new to a project using GIB, it might be helpful to change the following message

[code]

Into

[code]

[2021-10-19 08:59] harrisric opened #421 "Ability to include precursor projects in reactor only when certain projects are included"
Some modules can be expensive to build therefore you do not want to *always* include them in the reactor.
However those modules might be a necessary pre-cursor to another module e.g. they are a dependency and run a _task_ which is needed for those modules to complete successfully.
It would be good to have a feature which allowed modules to be included even when unchanged if they are required by on

[2021-10-28 21:45] famod opened #425 "Drop support for Java 8"
Java 11 has been out for a long time and Java 17 is the current LTS, so time to move on.

[2021-10-28 23:08] famod opened #427 "CI: Update to Maven 3.8.4"
After the so-so releases 3.8.2 and 3.8.3, it should be worthwhile to update to 3.8.4 once it's out.

[2021-11-02 23:14] #421 closed

[2021-11-05 22:37] famod commented on #390
So I have been playing around with this a bit.

The fundamental thing to keep in mind with this is that when you say `main-reference`, you mean the local branch!
If you say `refs/remotes/origin/main-reference` you mean the "remote tracking branch" (in your local repo).
These are two different things!

Currently, GIB only supports fetching remote tracking branches because only those are ment to be

[2021-11-07 23:55] famod opened #430 "Support `fetch my-remote my-branch:my-branch`-style fetches"
See https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/issues/390#issuecomment-962261000

Meaning:
- given e.g. `<referenceBranch>my-branch</my-branch>` & `fetchReferenceBranch` enabled
- find respective remote tracking branch (via `BranchConfig`) or fall back to trial and error?
- fetch into the remote tracking branch
- do a (fast forward) ref update of the local branch
-

[2021-11-07 23:56] #392 closed

[2021-11-07 23:57] famod commented on #390
I'll close this for now. #392 is part of 3.14.4 and in a later release #430 will improve things even further.

Thanks for getting in touch, @chtpl!

[2021-11-07 23:57] #390 closed

[2021-11-08 17:08] famod commented on #421
@harrisric just a heads up: 3.14.4 was deployed to maven central this morning!

[2021-11-08 17:10] famod opened #433 "Support fetching tags"
As of 3.14.4, fetching is limited to `refs/remotes/...`.

[2021-11-10 22:25] famod commented on #251
For later reference:
- https://stackoverflow.com/questions/39935160/how-to-use-jgit-to-get-list-of-changes-in-files/39935835#39935835
- https://stackoverflow.com/a/18378006/9529981

[2021-11-12 21:17] harrisric commented on #421
@famod thanks - the new version is in use!

[2021-11-28 21:52] #427 closed

[2021-12-16 10:43] nineinchnick opened #446 "Changes are ignored when whole project is in a `src` subdir."
I keep all my projects in `$HOME/src` and this causes GIB to always ignore any changes. Looks like `stripSrcSubpath` operates on absolute paths, but should only process paths relative to the project root.

[2021-12-16 13:43] famod commented on #446
Thanks for reporting this! I'll have a look ASAP.

[2021-12-16 23:46] famod commented on #446
@nineinchnick confirmed and fixed via #448.

Can you please try `3.14.5-20211216.234411-1` from https://oss.sonatype.org/content/repositories/snapshots/com/vackosar/gitflowincrementalbuilder/gitflow-incremental-builder/3.14.5-SNAPSHOT/ ?
Thanks!

My plan is to release 3.14.5 in the next 24 hours.

[2021-12-17 08:48] nineinchnick commented on #446
Works as expected, thanks for such a quick action!

[2021-12-17 10:47] famod commented on #446
Yw! Thank you for reporting and testing!

[2021-12-17 10:47] #446 closed

[2021-12-17 14:12] nineinchnick opened #451 "NPE when merge base is not found"
When I set `compareToMergeBase` to true, and don't ensure that I have all the refs properly fetched, I'm getting an NPE. There should be an actionable error message instead.

[code]

Looks like adding a check if commit is not null would be enough: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/blob/master/src/main/java/com/vackosar/gitflowincrementalbuild/control/Differ

[2021-12-17 17:15] famod commented on #451
Thanks (again) for reporting! I'll have a look. Gonna delay 3.14.5 a bit to include the fix for this.

[2021-12-17 17:16] nineinchnick commented on #451
Thanks! I guess this is low priority, should not be a blocker as it's just a usability issue.

[2021-12-17 17:17] famod commented on #451
Ok, might include it in a later release then. But I'll have a look first.

Can you describe your config and what was missing?

[2021-12-17 17:21] nineinchnick commented on #451
Sure! Here you go:
[code]

I'm trying to plug this into Github Actions. By default, it does a shallow clone with a `depth=1` so I set that to 100 and added another `fetch` to also get 100 last commits from the reference branch (`master`):
[code]

I spent a few minutes trying to figure out that last part. I'm not sure if it wouldn't make the error message too verbose, but it might suggest to make s

[2021-12-17 17:22] nineinchnick commented on #451
And just to be fully transparent, I'm working on adding GIB in the Trino project: https://github.com/trinodb/trino/pull/10323/

[2021-12-17 22:43] famod commented on #451
Thanks a lot, it's always good to know how people are trying to use GIB!

FWIW, I integrated GIB in [Quarkus](https://github.com/quarkusio/quarkus) via GH actions.
I also ran into that depth problem and simply went for `fetch-depth: 0`, which hasn't caused any issues thus far.
Quarkus with ~27k commits is very similar to trino with ~25k so this might be worth a try.

If you are interested, this is

[2021-12-17 23:31] #451 closed

[2021-12-17 23:32] famod commented on #451
Btw, there is also is discussions section: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions

[2021-12-27 21:20] famod commented on #324
#460 had to drop support for 3.5-3.6.2 as well due to https://issues.apache.org/jira/browse/MNG-6580

[2021-12-27 21:33] #425 closed

[2021-12-27 21:33] #324 closed

[2021-12-27 22:02] famod opened #462 "Replace `jsch.agentproxy` with built-in "SSH Agent Support" of JGit 6"
https://wiki.eclipse.org/JGit/New_and_Noteworthy/6.0#SSH_Agent_Support

JGit was upgraded to 6.0.0 via #442 (in branch `4.0`, not `master`).

[2021-12-28 14:02] famod commented on #314
`io.github.gitflow-incremental-builder` will be the new group id: https://issues.sonatype.org/browse/OSSRH-76726

[2021-12-28 14:09] famod commented on #314
Further plans:
- package `com.vackosar.gitflowincrementalbuilder` -> `io.github.gib`
- probably also dissolve the "Boundary Control Entity" subpackage structure
  (which isn't a bad idea in general, not at all, but just doesn't seem to fit GIB very well)
- deploy at least for 4.0.0 a relocation (with the old coordinates)

[2022-02-03 22:52] #433 closed

[2022-02-05 10:09] #462 closed

[2022-02-15 14:31] harrisric opened #488 "Using buildDownstream causes builds beyond a test-scoped dependency to build"
Hi,
I've noticed something similar to https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/pull/334 but involving test-scoped dependencies and was wondering if it is something that could be improved?

This occurs when using buildDownstream=true.
For example with a set of modules such as;
- A
- B (test-scoped dependency on A)
- C (compile-scoped dependency on B)
Then if we cha

[2022-02-15 22:40] famod commented on #488
Hi @harrisric and thanks for this interesting proposal!

This will be not that easy, given the Maven `ProjectDependencyGraph` doesn't provide such details.

[2022-02-15 23:05] famod commented on #488
Note to self:
- get non-transitive downstream modules of all modules that only contain test changes
- get non-transitive upstream modules of the previously found modules
- if all non-transitive upstream modules of such a given module only have test changes, then they shall be omitted

Problem: What about transitive downstream modules of those omitted modules? Might require a different algorithm.

[2022-02-17 14:44] harrisric commented on #488
Hi @famod glad I've caught your interest.
My thought exercise for direct dependencies came up with something like this:

If module A has test-only changes then the effect on its immediate downstream dependencies would be:
- Test-only changes to the dependent module if the dependency is one of;
-- scope: test, type: test-jar
-- scope: runtime, type: test-jar
-- scope: provided (not likely to be use

[2022-02-17 22:19] famod commented on #488
My note was mainly about what Maven's `ProjectDependencyGraph` allows me to do. It's rather limited and I have to be careful not to do too much "naive" graph analysis myself as this can result in performance issues rather easily.
In fact, when I found GIB it had a hand crafted analysis that caused a huge delay for a project of mine with ~100 modules, which is when I introduced the usage of `Projec

[2022-02-20 20:46] famod opened #493 "Consider renaming `master` to `main`"
Like many other GH repos these days...

[2022-02-20 20:47] famod commented on #314
Relocation pom.xml added via https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/commit/90642de4adf1dfb9eac3091c24c1a9046ef31de4

[2022-02-20 20:47] #314 closed

[2022-02-20 21:55] #493 closed

[2022-03-06 06:27] cr-kobyisrael commented on #370
What about changes on the same branch, but not only the last commit? is that supported? should i open a new question issue for that? since the header for this issue is the same.

[2022-03-06 21:08] famod commented on #370
@cr-kobyisrael

If you really want to compare to the latest successfully built commit, then I suggest to let your CI system (e.g. Jenkins) set/push a floating git tag on each successful build and use that as `referenceBranch`.
For rather short-lived pull request branches, doing so usually doesn't make much sense (form the efficiency POV). Also, it complicates things as the frist build would need t

[2022-03-07 10:26] cr-kobyisrael commented on #370
@famod

I totally agree this doesn't make sense for PR/short-lived branches (although in most cases, except PR, it's hard to tell if it's going to be short/long lived so we assume long-lived).

Regarding lightweight floating tags, it just sounds like another step to maintain, is there a reason we cant compare commit with other commit and work only with branches ?

[2022-03-07 11:26] cr-kobyisrael commented on #370
@famod

Getting the last successful build commit in jenkins is something we already have out of the box (in multibranch pipeline job), i believe what i was looking for is HEAD~<commit hash> :)

Thanks again, for your time

[2022-03-13 23:56] famod commented on #488
I have started working on this. As expected, it's rather complex to implement properly, but I'll get there eventually.

[2022-03-17 11:24] delanym opened #507 "skip when --resume-from"
When I use --resume-from I want the incremental builder to bow out as it does when I specify a project list.

[2022-03-20 20:48] famod commented on #507
Thanks for reporting!

Well, imagine you started an incremental build but it failed at some point, do you really want to build everything (starting from module x) in the second run?

[2022-03-20 23:54] famod commented on #488
@harrisric @nineinchnick there is some alpha testing material over here: https://s01.oss.sonatype.org/content/repositories/snapshots/io/github/gitflow-incremental-builder/gitflow-incremental-builder/4.0.1-SNAPSHOT/ (`4.0.1-20220320.235232-1`)

[2022-03-21 22:37] famod commented on #488
@harrisric no worries, thanks for your feedback!
I'm pretty confident that this snapshot _is_ improving things, as I started with a (mocked) test setup that is basically what you've described initially and it failed in the beginning and now it passes.
Let's see if @nineinchnick finds some time to check it out.

[2022-03-22 09:08] nineinchnick commented on #488
It does improve things for Trino, although there are still some dependencies I added to the build reactor I can't explain. When I added `-X` I see messages like:
[code]
even if I add `-DskipTests -Dmaven.test.skip=true`

[2022-03-22 19:37] delanym commented on #507
No, but suppose there's a reactor order with projects A, B and C. Now the build fails on B. I make a change to projects A and B, and then ask to resume from B. The incremental builder will ignore this and rebuild from A.

It sounds silly, because why would I do that. Im afraid I can't remember the context exactly, but I needed it at that time.

One of the great things about this extension is how o

[2022-03-22 21:58] famod commented on #488
@nineinchnick that message is coming from upstream(!) handling, meaning modules that are not changed and/or are not impacted by changes.
Are you using `buildAll` or `-am`?

The message might be a bit misleading because if you add `-Dmaven.test.skip=true`, there will be no compilation.
See also: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/blob/v4.0.0/src/main/java/io/

[2022-03-22 22:16] famod commented on #507
Are you sure? I just tested this quickly with [Quarkus:](https://github.com/quarkusio/quarkus):

- add linebreak to {{extensions/liquibase/runtime/pom.xml}} (our module A)
- `mvn validate -Dincremental -Dgib.dbc -Dno-test-modules -rf extensions/liquibase/deployment` ("-rf B" if you will)
- it only builds {{extensions/liquibase/deployment/pom.xml}} (B) and `docs` (C)
- output:
[code]
- also add lin

[2022-03-23 04:58] delanym commented on #507
Ok I see. Think I was thrown by it telling me what artifacts have changed, while -pl doesn't. Thank you

[2022-03-23 04:58] #507 closed

[2022-03-23 09:13] famod commented on #507
No worries!
I'll have to think about whether https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#explicitly-selected-projects ([`disableSelectedProjectsHandling`](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#gibdisableSelectedProjectsHandling)) should have an effect on this (it doesn't, currently).

[2022-03-24 09:36] nineinchnick commented on #488
Let me describe how I checked what effect these changes have.

We added GIB in the [Trino](https://github.com/trinodb/trino) project and it's working great. It's opt-in, so you have to enable the `gib` profile. Here's the complete GIB config we use: https://github.com/trinodb/trino/blob/master/pom.xml#L1920

Trino is an SQL engine, not a database because it doesn't have its own storage and relies

[2022-04-03 20:06] famod commented on #488
@nineinchnick I had a look and I think you are seeing `trino-mongodb` because you have `<buildUpstream>derived</buildUpstream>` in your root `pom.xml`.
`trino-mongodb` vanishes from the reactor when you set this to `false` or `derived` (and don't use `-am`), meaning in this case `trino-mongodb` is an _upstream_ module.

[2022-04-03 21:24] famod commented on #488
PS: And because you have `<buildUpstreamMode>impacted</buildUpstreamMode>`, not only upstream modules of changed modules are built but also upstreams of modules that depend on changed modules.
One of those impacted modules depends on `trino-mongodb`: `trino-test-jdbc-compatibility-old-driver`

[2022-04-04 10:45] nineinchnick commented on #488
Ah, so obvious now! Thanks! But shouldn't `trino-mongodb` only be built, and not considered an impacted module? So that it would not be tested and would not be reported in the impacted modules log file.

[2022-04-04 11:57] nineinchnick commented on #488
Or maybe I misinterpreted the meaning of `buildUpstreamMode` set to `impacted`? I just wanted to make sure all the required dependencies will be built, since the CI runners always start with an empty local Maven repo.

[2022-04-08 22:25] famod commented on #488
Well, for me that's exactly what happens, with both 3.15.0 _and_ 4.0.1-SNAPSHOT of GIB. 🤔

[2022-04-11 10:10] nineinchnick commented on #488
I checked again and it's all good, sorry about the confusion!

[2022-06-01 09:54] famod commented on #488
Quick update: I'm hoping to finish and release this by the end of this week.

[2022-06-02 23:01] #488 closed

[2022-06-03 09:34] famod commented on #488
Now available via [4.1.0](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/releases/tag/v4.1.0).

[2022-06-14 13:54] delanym opened #538 "class cast with v4.1.0 and Maven 3.8.6"
`[ERROR] Failed to execute gitflow-incremental-builder. class org.codehaus.plexus.util.xml.Xpp3Dom cannot be cast to class org.codehaus.plexus.util.xml.Xpp3Dom (org.codehaus.plexus.util.xml.Xpp3Dom is in unnamed module of loader org.codehaus.plexus.classworlds.realm.ClassRealm @51efea79; org.codehaus.plexus.util.xml.Xpp3Dom is in unnamed module of loader org.codehaus.plexus.classworlds.realm.Class

[2022-06-14 20:20] famod commented on #538
Hum, strange. The CI job with Java 11 and Maven 3.8.6 is green: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/runs/6853297817?check_suite_focus=true

I haven't got an issue in my current commercial project with Java 17 and Maven 3.8.6.

Can you share the project which runs into this issue?
Do you also see this problem with Maven 3.8.5 or lower?

[2022-06-15 06:25] delanym commented on #538
@famod, yes, down to Maven 3.8.3
Unfortunately I cant share the project.
Maybe this helps https://issues.apache.org/jira/browse/MNG-7160

[2022-06-15 15:04] famod commented on #538
@delanym how do you use GIB? See https://github.com/gitflow-incremental-builder/gitflow-incremental-builder#usage

[2022-06-15 18:08] delanym commented on #538
@famod as an extension

[2022-06-15 20:26] famod commented on #538
@delanym ok, in pom.xml or extensions.xml?

[2022-06-15 20:41] delanym commented on #538
@famod extensions.xml

[2022-06-15 22:36] famod commented on #538
Ok, that might explain why CI didn't catch it as the the two tests are pom.xml-based.

I'll have a look later this week.

[2022-06-18 21:00] famod commented on #538
Problem confirmed with an extended integrationtest. Looking at how to fix it...

[2022-06-19 22:48] famod commented on #538
This is a big mess: CI fails not finding a really old plexus-utils version (which is odd) when plexus-utils is not defined excplicitly as a dependency but when it is, the casting problem occurs (when using `.mvn/extensions.xml`).

[2022-06-19 23:10] famod commented on #538
Yuk...https://issues.apache.org/jira/browse/MNG-6965

[2022-06-19 23:37] #538 closed

[2022-06-19 23:39] famod commented on #538
Solved by removing plexus-utils altogether and (again) relying on what comes with Maven. The CI issue was solved by making sure plexus-utils 1.1 is downloaded (as silly as this might seem, but see [MNG-6965](https://issues.apache.org/jira/browse/MNG-6965)).

@delanym You can expected GIB 4.1.1 to be released in the next few days. Thanks for reporting!

[2022-06-21 13:00] jamesnetherton opened #544 "How to selectively build impacted modules"
I created a demo Maven project that is structured like:

[code]

`itest-a`, `itest-c` & `itest-e` all depend on `module-a`. So I made a change to `module-a`, ran the build from the project root and the g-i-b plugin correctly identifies the test modules that need to be incrementally rebuilt (a, c & e). Which is great.

Is it possible to specify that I want to build only a specific set of impacted m

[2022-06-21 13:42] delanym commented on #538
Thanks for fixing

[2022-06-21 21:51] famod commented on #544
Thing is that `-pl` is not recursive in Maven 3. In Maven 4 it will become recursive so you could say `-pl integration-tests`.
This question is much related to #328.

If you only want to build only impacted modules under integration-tests you can try `-rf integration-tests`. That will omit `module-a` though, so it's no a general purpose solution to this.

[2022-07-20 10:00] rtim75 opened #550 "excludePathsMatching documentation is missleading"
The documentation states that

will be excluded when using `-Dgib.excludePathsMatching=blacklisted` or `-Dgib.excludePathsMatching=some-file\..*` etc., but is not excluded when adding to the regular expression anything outside of the git repository context like `/tmp/repo` or repo.

But the `blacklisted` example given here doesn't work.

Note: I added a log message to print out the `excluded` valu

[2022-07-21 22:23] famod commented on #550
Good point, this must have slipped through in #360.

Thanks for reporting!

[2022-08-15 20:59] famod opened #562 "Properties for unchanged downstream Modules"
### Discussed in https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions/557

<div type='discussions-op-text'>

<sup>Originally posted by **oers** August  2, 2022</sup>
Currently I am trying to make our merge requests build faster with this plugin. Skipping Tests for all upstream modules helped a lot.
Now I would like to set Properties (to skip IntegreationTests or l

[2022-09-15 07:53] saxicek opened #564 "Missing Maven goal"
I would like to use this plugin in GitLab pipeline. Ideally it would not have any configuration in `pom.xml` files and it would run with:
[code]
But from the documentation I got a feeling that the plugin does some workarounds so that it can be run with `mvn test` and it cannot be run as above. Please forgive my low Maven experience and if I misunderstood something please let me know. Thank you!

[2022-09-16 14:36] famod commented on #564
This is pretty much expected:

At it's core, GIB is an _extension_, meaning it has to run very very early, before any actual goal is executed.

This is also reflected by the plugin description:
[code]

So it only has a fake `config-do-not-execute` goal.

If you don't want GIB in you pom.xml, you can try this: https://maven.apache.org/ref/3.8.6/maven-embedder/core-extensions.html
I don't think Mave

[2022-10-17 12:27] abdessamad14 opened #567 "Avoid: [WARNING] Ignoring changed file outside build project..."
When changing files outside of the build project a warning comes in this form:

`[WARNING] Ignoring changed file outside build project: /ProjectHome/.../.../xxx.json
`
We don't want to see this warning anymore, because we have a lot of js scripts or python scripts on the frontend side and the warning makes our console more confusing.

Still to note that mvn also prints warnings,` [WARNING] Test so

[2022-10-17 21:07] famod commented on #567
Thanks for getting in touch.

Would INFO be equally distracting for you?

[2022-10-17 22:04] famod commented on #564
I'll go ahead and close this. If you have further question please [open a discussion](https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions). Thanks!

[2022-10-17 22:04] #564 closed

[2022-10-18 05:37] abdessamad14 commented on #567
Hello, thank you for your answer. No we need the [INFO] lines. It's only about lines starting with `[WARNING] Test source directory`

[2022-10-18 16:48] famod commented on #567
I'm a litte confused here:
- You don't want to see `Ignoring changed file outside build project: ...` _at all_ anymore?
- You also want to hide `Test source directory ...` (a message that is not coming from GIB) via GIB?

[2022-10-22 16:19] debraj-manna opened #579 "Getting IllegalArgumentException on trying to use the extension"
### Discussed in https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions/578

<div type='discussions-op-text'>

<sup>Originally posted by **debraj-manna** October 21, 2022</sup>
I am new to `gitflow-incremental-builder` and this is my first post. Please let me know if this the correct place for raising queries.

I am trying to run the incremental build on a branch, `

[2022-10-22 22:05] famod commented on #579
I was able to replicate this issue, working on a fix.

[2022-10-23 12:56] debraj-spotnana commented on #579
Thanks for checking this.

Is some particular directory structure causing the issue?

Can you also provide me some idea when I can expect some fix?

[2022-10-23 13:02] debraj-manna commented on #579
Thanks for checking this.

Is some particular directory structure causing the issue?

Can you provide me some idea when I can expect some fix / workaround?

[2022-10-30 16:26] famod commented on #579
Sorry for the late reply. There is only https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions/578#discussioncomment-4007218 (as you've confirmed).

I'm trying to have another look today. Last time I was under the impression that the entire approach to handling `src` needs a redesign. So, no easy fix.

[2022-10-31 04:32] debraj-manna commented on #579
@famod Just a random thought. Can another optional config be exposed which takes the absolute path of the root `pom.xml` (in this case `/Users/debrajmanna/code/java/github/spotnana/src/java/` )and then uses that information in `ChangedProjects` while stripping src path by ignoring the `src` in the absolute path?

[2022-10-31 14:22] abdessamad14 commented on #567
We only want to keep the lines starting with "[WARNING] Ignoring changed file...".

The lines starting with "[WARNING] Test source directory ..." are to be kept.

Thanks a lot

[2022-10-31 14:23] abdessamad14 commented on #567
We do not want to see the lines starting with` "[WARNING] Ignoring changed file..."` anymore.

The lines starting with `"[WARNING] Test source directory ..." `are to be kept.

Thanks a lot

[2022-11-01 00:15] famod commented on #579
@debraj-manna can you try snapshot version [4.1.2-20221101.001348-1](https://s01.oss.sonatype.org/content/repositories/snapshots/io/github/gitflow-incremental-builder/gitflow-incremental-builder/4.1.2-SNAPSHOT/gitflow-incremental-builder-4.1.2-20221101.001348-1.jar)?

[2022-11-01 00:16] famod commented on #567
I agree it's too noisy, so I'll lower the level to DEBUG.

[2022-11-01 00:31] famod opened #583 "Javadoc warnings with Java 17"
[code]

[2022-11-01 12:02] debraj-manna commented on #579
Thanks @famod . I tried with your [PR](https://github.com/famod/gitflow-incremental-builder/tree/src-root) branch. I am not getting the error.

[2022-11-01 13:00] #579 closed

[2022-11-01 13:02] famod commented on #579
Thanks for checking @debraj-manna! I'll deploy a release in the next few days (4.1.2 or 4.2.0, depending on what else I'm adding).

[2022-11-01 21:38] #567 closed

[2022-11-01 21:47] #583 closed

[2022-11-01 22:38] #550 closed

[2022-11-01 23:33] famod commented on #562
@oers Can you try snapshot [4.2.0-20221101.233037-1](https://s01.oss.sonatype.org/content/repositories/snapshots/io/github/gitflow-incremental-builder/gitflow-incremental-builder/4.2.0-SNAPSHOT/)? This includes #587.
It would also be nice if you could check whether the addition to the docs makes sense for you: https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/pull/587/file

[2022-11-02 10:00] TheMertos opened #589 "enable / disable mechanism for logging of files, which is outside of project"
Dear developer,

https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/blob/05538a565ed7422e0234b7ad23406e2315a4e439/src/main/java/io/github/gitflowincrementalbuilder/ChangedProjects.java#L58

do you can add a configuration to enable / disable this logging? it makes a problem (shows to much ignoring files at pipeline or logs), if we want use it with multi module project (conta

[2022-11-02 12:55] famod commented on #589
Hi @TheMertos,

funny you mention this given I've literally just lowered it from WARN to DEBUG.
In upcoming 4.2.0 you won't be seeing such messages anymore (unless you activate debug loggin).
Does this already address your concern or do you need more?

[2022-11-02 13:29] TheMertos commented on #589
hmm. i am asking me, that it can be enough or not enough for us. when do you want publicate the 4.2.0 version?

[2022-11-03 19:54] #562 closed

[2022-11-03 20:04] famod opened #591 "Try Maven 4.0.0-alpha-2"
https://maven.apache.org/docs/4.0.0-alpha-2/release-notes.html

[2022-11-03 20:43] famod commented on #589
4.2.0 is out. I'll close this for now but if people complain and want a toggle instead, I'll reopen this issue.

[2022-11-03 20:43] #589 closed

[2022-11-03 21:36] oers commented on #562
I will test this at work next week. But I see you already made a full release. Thanks

[2022-11-03 21:39] famod commented on #562
Yeah, patience is weak in this one. 😉

Please let me know how it goes with 4.2.0.

[2022-11-03 21:40] oers commented on #562
Documentation may need to clarify what happens to downstream modules, that have changes. I assume that the properties will ONLY be applied to downstream modules, that are unchaged (as in our discussion, if I remember correctly).

[2022-11-03 21:42] famod commented on #562
Yes, you remember correctly. I guess it doesn't hurt to clarify that a bit more in the docs.

[2022-11-03 21:45] famod commented on #562
WDYT about adding

❔

[2022-11-03 21:47] oers commented on #562
Sounds good. Short and clear.

[2022-11-04 09:36] TheMertos commented on #589
Thx for new release, it is working.

[2022-11-10 18:48] laurentgo opened #603 "Selected project is not built when non-selected upstream project is changed and `disableSelectedProjectsHandling` is `true`"
My project layout is `A* <- B <- C` where `A` is the parent project of `B`, and `B` of `C`.

When trying to do `mvn -pl C ...` with `disableSelectedProjectsHandling` set to `true` and `A` module being changed, `C` is being skipped.

The reason seems to be because we do not get the transitive dependency graph for the select projects, but only the direct dependency graph. So here since `B` is not ch

[2022-11-12 17:57] famod commented on #603
Thanks for reporting, I'll have a look.

[2022-11-12 23:22] famod commented on #603
That's a tough one. I can't simply switch to transitive downstream collection because that would break #488.

Simply going over each selected module (only `C` in your case) and checking if a changed (unselected) module is its transitive upstream tree won't work because the graph is pruned to what has been defined via `pl`. The upstream list is empty.

Need to think more about this.

[2022-11-22 10:20] debraj-manna opened #610 "Log module names for which tests will be executed"
### Discussed in https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/discussions/602

Expose a GIB property which will provide information in logs about downstream and upstream modules for a particular run.

[2022-11-23 00:05] famod commented on #603
I had a look at building an "untrimmed" `ProjectDependencyGraph` for this specific case (with all modules, even unselected ones) but GIB cannot access `DefaultProjectDependencyGraph` in Maven 3.8 or earlier (see [MNG-6972](https://issues.apache.org/jira/browse/MNG-6972), fixed in Maven 3.9.0 which has yet to be released).

That would have enabled a properly scope-aware downstream collection. Too b